// Embeds responsive
//
// Credit: Nicolas Gallagher and SUIT CSS.

.b-responsive-embed {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;

  .embed-responsive-item,
  iframe,
  embed,
  object,
  video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0;
  }
}

.b-responsive-embed__16x9 {
  padding-bottom: 56.25%;
}

.b-responsive-embed__4x3 {
  padding-bottom: 75%;
}
