@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic|Open+Sans:400,300&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Oranienbaum&subset=latin,cyrillic);
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #1e5180;
  text-decoration: none;
}
a:hover {
  color: #1d4d7a;
  text-decoration: underline;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1130px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
.b-responsive-embed {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.b-responsive-embed .embed-responsive-item,
.b-responsive-embed iframe,
.b-responsive-embed embed,
.b-responsive-embed object,
.b-responsive-embed video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
}
.b-responsive-embed__16x9 {
  padding-bottom: 56.25%;
}
.b-responsive-embed__4x3 {
  padding-bottom: 75%;
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.b-navbar--nav:before,
.b-navbar--nav:after,
.b-dropdown:before,
.b-dropdown:after,
.b-course-info:before,
.b-course-info:after,
.b-topic:before,
.b-topic:after,
.b-topic-nav:before,
.b-topic-nav:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after,
.b-navbar--nav:after,
.b-dropdown:after,
.b-course-info:after,
.b-topic:after,
.b-topic-nav:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.affix {
  position: fixed;
}
@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}
/*!
 *  Font Awesome 4.3.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: "\f000";
}
.fa-music:before {
  content: "\f001";
}
.fa-search:before {
  content: "\f002";
}
.fa-envelope-o:before {
  content: "\f003";
}
.fa-heart:before {
  content: "\f004";
}
.fa-star:before {
  content: "\f005";
}
.fa-star-o:before {
  content: "\f006";
}
.fa-user:before {
  content: "\f007";
}
.fa-film:before {
  content: "\f008";
}
.fa-th-large:before {
  content: "\f009";
}
.fa-th:before {
  content: "\f00a";
}
.fa-th-list:before {
  content: "\f00b";
}
.fa-check:before {
  content: "\f00c";
}
.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: "\f00d";
}
.fa-search-plus:before {
  content: "\f00e";
}
.fa-search-minus:before {
  content: "\f010";
}
.fa-power-off:before {
  content: "\f011";
}
.fa-signal:before {
  content: "\f012";
}
.fa-gear:before,
.fa-cog:before {
  content: "\f013";
}
.fa-trash-o:before {
  content: "\f014";
}
.fa-home:before {
  content: "\f015";
}
.fa-file-o:before {
  content: "\f016";
}
.fa-clock-o:before {
  content: "\f017";
}
.fa-road:before {
  content: "\f018";
}
.fa-download:before {
  content: "\f019";
}
.fa-arrow-circle-o-down:before {
  content: "\f01a";
}
.fa-arrow-circle-o-up:before {
  content: "\f01b";
}
.fa-inbox:before {
  content: "\f01c";
}
.fa-play-circle-o:before {
  content: "\f01d";
}
.fa-rotate-right:before,
.fa-repeat:before {
  content: "\f01e";
}
.fa-refresh:before {
  content: "\f021";
}
.fa-list-alt:before {
  content: "\f022";
}
.fa-lock:before {
  content: "\f023";
}
.fa-flag:before {
  content: "\f024";
}
.fa-headphones:before {
  content: "\f025";
}
.fa-volume-off:before {
  content: "\f026";
}
.fa-volume-down:before {
  content: "\f027";
}
.fa-volume-up:before {
  content: "\f028";
}
.fa-qrcode:before {
  content: "\f029";
}
.fa-barcode:before {
  content: "\f02a";
}
.fa-tag:before {
  content: "\f02b";
}
.fa-tags:before {
  content: "\f02c";
}
.fa-book:before {
  content: "\f02d";
}
.fa-bookmark:before {
  content: "\f02e";
}
.fa-print:before {
  content: "\f02f";
}
.fa-camera:before {
  content: "\f030";
}
.fa-font:before {
  content: "\f031";
}
.fa-bold:before {
  content: "\f032";
}
.fa-italic:before {
  content: "\f033";
}
.fa-text-height:before {
  content: "\f034";
}
.fa-text-width:before {
  content: "\f035";
}
.fa-align-left:before {
  content: "\f036";
}
.fa-align-center:before {
  content: "\f037";
}
.fa-align-right:before {
  content: "\f038";
}
.fa-align-justify:before {
  content: "\f039";
}
.fa-list:before {
  content: "\f03a";
}
.fa-dedent:before,
.fa-outdent:before {
  content: "\f03b";
}
.fa-indent:before {
  content: "\f03c";
}
.fa-video-camera:before {
  content: "\f03d";
}
.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: "\f03e";
}
.fa-pencil:before {
  content: "\f040";
}
.fa-map-marker:before {
  content: "\f041";
}
.fa-adjust:before {
  content: "\f042";
}
.fa-tint:before {
  content: "\f043";
}
.fa-edit:before,
.fa-pencil-square-o:before {
  content: "\f044";
}
.fa-share-square-o:before {
  content: "\f045";
}
.fa-check-square-o:before {
  content: "\f046";
}
.fa-arrows:before {
  content: "\f047";
}
.fa-step-backward:before {
  content: "\f048";
}
.fa-fast-backward:before {
  content: "\f049";
}
.fa-backward:before {
  content: "\f04a";
}
.fa-play:before {
  content: "\f04b";
}
.fa-pause:before {
  content: "\f04c";
}
.fa-stop:before {
  content: "\f04d";
}
.fa-forward:before {
  content: "\f04e";
}
.fa-fast-forward:before {
  content: "\f050";
}
.fa-step-forward:before {
  content: "\f051";
}
.fa-eject:before {
  content: "\f052";
}
.fa-chevron-left:before {
  content: "\f053";
}
.fa-chevron-right:before {
  content: "\f054";
}
.fa-plus-circle:before {
  content: "\f055";
}
.fa-minus-circle:before {
  content: "\f056";
}
.fa-times-circle:before {
  content: "\f057";
}
.fa-check-circle:before {
  content: "\f058";
}
.fa-question-circle:before {
  content: "\f059";
}
.fa-info-circle:before {
  content: "\f05a";
}
.fa-crosshairs:before {
  content: "\f05b";
}
.fa-times-circle-o:before {
  content: "\f05c";
}
.fa-check-circle-o:before {
  content: "\f05d";
}
.fa-ban:before {
  content: "\f05e";
}
.fa-arrow-left:before {
  content: "\f060";
}
.fa-arrow-right:before {
  content: "\f061";
}
.fa-arrow-up:before {
  content: "\f062";
}
.fa-arrow-down:before {
  content: "\f063";
}
.fa-mail-forward:before,
.fa-share:before {
  content: "\f064";
}
.fa-expand:before {
  content: "\f065";
}
.fa-compress:before {
  content: "\f066";
}
.fa-plus:before {
  content: "\f067";
}
.fa-minus:before {
  content: "\f068";
}
.fa-asterisk:before {
  content: "\f069";
}
.fa-exclamation-circle:before {
  content: "\f06a";
}
.fa-gift:before {
  content: "\f06b";
}
.fa-leaf:before {
  content: "\f06c";
}
.fa-fire:before {
  content: "\f06d";
}
.fa-eye:before {
  content: "\f06e";
}
.fa-eye-slash:before {
  content: "\f070";
}
.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "\f071";
}
.fa-plane:before {
  content: "\f072";
}
.fa-calendar:before {
  content: "\f073";
}
.fa-random:before {
  content: "\f074";
}
.fa-comment:before {
  content: "\f075";
}
.fa-magnet:before {
  content: "\f076";
}
.fa-chevron-up:before {
  content: "\f077";
}
.fa-chevron-down:before {
  content: "\f078";
}
.fa-retweet:before {
  content: "\f079";
}
.fa-shopping-cart:before {
  content: "\f07a";
}
.fa-folder:before {
  content: "\f07b";
}
.fa-folder-open:before {
  content: "\f07c";
}
.fa-arrows-v:before {
  content: "\f07d";
}
.fa-arrows-h:before {
  content: "\f07e";
}
.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: "\f080";
}
.fa-twitter-square:before {
  content: "\f081";
}
.fa-facebook-square:before {
  content: "\f082";
}
.fa-camera-retro:before {
  content: "\f083";
}
.fa-key:before {
  content: "\f084";
}
.fa-gears:before,
.fa-cogs:before {
  content: "\f085";
}
.fa-comments:before {
  content: "\f086";
}
.fa-thumbs-o-up:before {
  content: "\f087";
}
.fa-thumbs-o-down:before {
  content: "\f088";
}
.fa-star-half:before {
  content: "\f089";
}
.fa-heart-o:before {
  content: "\f08a";
}
.fa-sign-out:before {
  content: "\f08b";
}
.fa-linkedin-square:before {
  content: "\f08c";
}
.fa-thumb-tack:before {
  content: "\f08d";
}
.fa-external-link:before {
  content: "\f08e";
}
.fa-sign-in:before {
  content: "\f090";
}
.fa-trophy:before {
  content: "\f091";
}
.fa-github-square:before {
  content: "\f092";
}
.fa-upload:before {
  content: "\f093";
}
.fa-lemon-o:before {
  content: "\f094";
}
.fa-phone:before {
  content: "\f095";
}
.fa-square-o:before {
  content: "\f096";
}
.fa-bookmark-o:before {
  content: "\f097";
}
.fa-phone-square:before {
  content: "\f098";
}
.fa-twitter:before {
  content: "\f099";
}
.fa-facebook-f:before,
.fa-facebook:before {
  content: "\f09a";
}
.fa-github:before {
  content: "\f09b";
}
.fa-unlock:before {
  content: "\f09c";
}
.fa-credit-card:before {
  content: "\f09d";
}
.fa-rss:before {
  content: "\f09e";
}
.fa-hdd-o:before {
  content: "\f0a0";
}
.fa-bullhorn:before {
  content: "\f0a1";
}
.fa-bell:before {
  content: "\f0f3";
}
.fa-certificate:before {
  content: "\f0a3";
}
.fa-hand-o-right:before {
  content: "\f0a4";
}
.fa-hand-o-left:before {
  content: "\f0a5";
}
.fa-hand-o-up:before {
  content: "\f0a6";
}
.fa-hand-o-down:before {
  content: "\f0a7";
}
.fa-arrow-circle-left:before {
  content: "\f0a8";
}
.fa-arrow-circle-right:before {
  content: "\f0a9";
}
.fa-arrow-circle-up:before {
  content: "\f0aa";
}
.fa-arrow-circle-down:before {
  content: "\f0ab";
}
.fa-globe:before {
  content: "\f0ac";
}
.fa-wrench:before {
  content: "\f0ad";
}
.fa-tasks:before {
  content: "\f0ae";
}
.fa-filter:before {
  content: "\f0b0";
}
.fa-briefcase:before {
  content: "\f0b1";
}
.fa-arrows-alt:before {
  content: "\f0b2";
}
.fa-group:before,
.fa-users:before {
  content: "\f0c0";
}
.fa-chain:before,
.fa-link:before {
  content: "\f0c1";
}
.fa-cloud:before {
  content: "\f0c2";
}
.fa-flask:before {
  content: "\f0c3";
}
.fa-cut:before,
.fa-scissors:before {
  content: "\f0c4";
}
.fa-copy:before,
.fa-files-o:before {
  content: "\f0c5";
}
.fa-paperclip:before {
  content: "\f0c6";
}
.fa-save:before,
.fa-floppy-o:before {
  content: "\f0c7";
}
.fa-square:before {
  content: "\f0c8";
}
.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "\f0c9";
}
.fa-list-ul:before {
  content: "\f0ca";
}
.fa-list-ol:before {
  content: "\f0cb";
}
.fa-strikethrough:before {
  content: "\f0cc";
}
.fa-underline:before {
  content: "\f0cd";
}
.fa-table:before {
  content: "\f0ce";
}
.fa-magic:before {
  content: "\f0d0";
}
.fa-truck:before {
  content: "\f0d1";
}
.fa-pinterest:before {
  content: "\f0d2";
}
.fa-pinterest-square:before {
  content: "\f0d3";
}
.fa-google-plus-square:before {
  content: "\f0d4";
}
.fa-google-plus:before {
  content: "\f0d5";
}
.fa-money:before {
  content: "\f0d6";
}
.fa-caret-down:before {
  content: "\f0d7";
}
.fa-caret-up:before {
  content: "\f0d8";
}
.fa-caret-left:before {
  content: "\f0d9";
}
.fa-caret-right:before {
  content: "\f0da";
}
.fa-columns:before {
  content: "\f0db";
}
.fa-unsorted:before,
.fa-sort:before {
  content: "\f0dc";
}
.fa-sort-down:before,
.fa-sort-desc:before {
  content: "\f0dd";
}
.fa-sort-up:before,
.fa-sort-asc:before {
  content: "\f0de";
}
.fa-envelope:before {
  content: "\f0e0";
}
.fa-linkedin:before {
  content: "\f0e1";
}
.fa-rotate-left:before,
.fa-undo:before {
  content: "\f0e2";
}
.fa-legal:before,
.fa-gavel:before {
  content: "\f0e3";
}
.fa-dashboard:before,
.fa-tachometer:before {
  content: "\f0e4";
}
.fa-comment-o:before {
  content: "\f0e5";
}
.fa-comments-o:before {
  content: "\f0e6";
}
.fa-flash:before,
.fa-bolt:before {
  content: "\f0e7";
}
.fa-sitemap:before {
  content: "\f0e8";
}
.fa-umbrella:before {
  content: "\f0e9";
}
.fa-paste:before,
.fa-clipboard:before {
  content: "\f0ea";
}
.fa-lightbulb-o:before {
  content: "\f0eb";
}
.fa-exchange:before {
  content: "\f0ec";
}
.fa-cloud-download:before {
  content: "\f0ed";
}
.fa-cloud-upload:before {
  content: "\f0ee";
}
.fa-user-md:before {
  content: "\f0f0";
}
.fa-stethoscope:before {
  content: "\f0f1";
}
.fa-suitcase:before {
  content: "\f0f2";
}
.fa-bell-o:before {
  content: "\f0a2";
}
.fa-coffee:before {
  content: "\f0f4";
}
.fa-cutlery:before {
  content: "\f0f5";
}
.fa-file-text-o:before {
  content: "\f0f6";
}
.fa-building-o:before {
  content: "\f0f7";
}
.fa-hospital-o:before {
  content: "\f0f8";
}
.fa-ambulance:before {
  content: "\f0f9";
}
.fa-medkit:before {
  content: "\f0fa";
}
.fa-fighter-jet:before {
  content: "\f0fb";
}
.fa-beer:before {
  content: "\f0fc";
}
.fa-h-square:before {
  content: "\f0fd";
}
.fa-plus-square:before {
  content: "\f0fe";
}
.fa-angle-double-left:before {
  content: "\f100";
}
.fa-angle-double-right:before {
  content: "\f101";
}
.fa-angle-double-up:before {
  content: "\f102";
}
.fa-angle-double-down:before {
  content: "\f103";
}
.fa-angle-left:before {
  content: "\f104";
}
.fa-angle-right:before {
  content: "\f105";
}
.fa-angle-up:before {
  content: "\f106";
}
.fa-angle-down:before {
  content: "\f107";
}
.fa-desktop:before {
  content: "\f108";
}
.fa-laptop:before {
  content: "\f109";
}
.fa-tablet:before {
  content: "\f10a";
}
.fa-mobile-phone:before,
.fa-mobile:before {
  content: "\f10b";
}
.fa-circle-o:before {
  content: "\f10c";
}
.fa-quote-left:before {
  content: "\f10d";
}
.fa-quote-right:before {
  content: "\f10e";
}
.fa-spinner:before {
  content: "\f110";
}
.fa-circle:before {
  content: "\f111";
}
.fa-mail-reply:before,
.fa-reply:before {
  content: "\f112";
}
.fa-github-alt:before {
  content: "\f113";
}
.fa-folder-o:before {
  content: "\f114";
}
.fa-folder-open-o:before {
  content: "\f115";
}
.fa-smile-o:before {
  content: "\f118";
}
.fa-frown-o:before {
  content: "\f119";
}
.fa-meh-o:before {
  content: "\f11a";
}
.fa-gamepad:before {
  content: "\f11b";
}
.fa-keyboard-o:before {
  content: "\f11c";
}
.fa-flag-o:before {
  content: "\f11d";
}
.fa-flag-checkered:before {
  content: "\f11e";
}
.fa-terminal:before {
  content: "\f120";
}
.fa-code:before {
  content: "\f121";
}
.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: "\f122";
}
.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "\f123";
}
.fa-location-arrow:before {
  content: "\f124";
}
.fa-crop:before {
  content: "\f125";
}
.fa-code-fork:before {
  content: "\f126";
}
.fa-unlink:before,
.fa-chain-broken:before {
  content: "\f127";
}
.fa-question:before {
  content: "\f128";
}
.fa-info:before {
  content: "\f129";
}
.fa-exclamation:before {
  content: "\f12a";
}
.fa-superscript:before {
  content: "\f12b";
}
.fa-subscript:before {
  content: "\f12c";
}
.fa-eraser:before {
  content: "\f12d";
}
.fa-puzzle-piece:before {
  content: "\f12e";
}
.fa-microphone:before {
  content: "\f130";
}
.fa-microphone-slash:before {
  content: "\f131";
}
.fa-shield:before {
  content: "\f132";
}
.fa-calendar-o:before {
  content: "\f133";
}
.fa-fire-extinguisher:before {
  content: "\f134";
}
.fa-rocket:before {
  content: "\f135";
}
.fa-maxcdn:before {
  content: "\f136";
}
.fa-chevron-circle-left:before {
  content: "\f137";
}
.fa-chevron-circle-right:before {
  content: "\f138";
}
.fa-chevron-circle-up:before {
  content: "\f139";
}
.fa-chevron-circle-down:before {
  content: "\f13a";
}
.fa-html5:before {
  content: "\f13b";
}
.fa-css3:before {
  content: "\f13c";
}
.fa-anchor:before {
  content: "\f13d";
}
.fa-unlock-alt:before {
  content: "\f13e";
}
.fa-bullseye:before {
  content: "\f140";
}
.fa-ellipsis-h:before {
  content: "\f141";
}
.fa-ellipsis-v:before {
  content: "\f142";
}
.fa-rss-square:before {
  content: "\f143";
}
.fa-play-circle:before {
  content: "\f144";
}
.fa-ticket:before {
  content: "\f145";
}
.fa-minus-square:before {
  content: "\f146";
}
.fa-minus-square-o:before {
  content: "\f147";
}
.fa-level-up:before {
  content: "\f148";
}
.fa-level-down:before {
  content: "\f149";
}
.fa-check-square:before {
  content: "\f14a";
}
.fa-pencil-square:before {
  content: "\f14b";
}
.fa-external-link-square:before {
  content: "\f14c";
}
.fa-share-square:before {
  content: "\f14d";
}
.fa-compass:before {
  content: "\f14e";
}
.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "\f150";
}
.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "\f151";
}
.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "\f152";
}
.fa-euro:before,
.fa-eur:before {
  content: "\f153";
}
.fa-gbp:before {
  content: "\f154";
}
.fa-dollar:before,
.fa-usd:before {
  content: "\f155";
}
.fa-rupee:before,
.fa-inr:before {
  content: "\f156";
}
.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "\f157";
}
.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "\f158";
}
.fa-won:before,
.fa-krw:before {
  content: "\f159";
}
.fa-bitcoin:before,
.fa-btc:before {
  content: "\f15a";
}
.fa-file:before {
  content: "\f15b";
}
.fa-file-text:before {
  content: "\f15c";
}
.fa-sort-alpha-asc:before {
  content: "\f15d";
}
.fa-sort-alpha-desc:before {
  content: "\f15e";
}
.fa-sort-amount-asc:before {
  content: "\f160";
}
.fa-sort-amount-desc:before {
  content: "\f161";
}
.fa-sort-numeric-asc:before {
  content: "\f162";
}
.fa-sort-numeric-desc:before {
  content: "\f163";
}
.fa-thumbs-up:before {
  content: "\f164";
}
.fa-thumbs-down:before {
  content: "\f165";
}
.fa-youtube-square:before {
  content: "\f166";
}
.fa-youtube:before {
  content: "\f167";
}
.fa-xing:before {
  content: "\f168";
}
.fa-xing-square:before {
  content: "\f169";
}
.fa-youtube-play:before {
  content: "\f16a";
}
.fa-dropbox:before {
  content: "\f16b";
}
.fa-stack-overflow:before {
  content: "\f16c";
}
.fa-instagram:before {
  content: "\f16d";
}
.fa-flickr:before {
  content: "\f16e";
}
.fa-adn:before {
  content: "\f170";
}
.fa-bitbucket:before {
  content: "\f171";
}
.fa-bitbucket-square:before {
  content: "\f172";
}
.fa-tumblr:before {
  content: "\f173";
}
.fa-tumblr-square:before {
  content: "\f174";
}
.fa-long-arrow-down:before {
  content: "\f175";
}
.fa-long-arrow-up:before {
  content: "\f176";
}
.fa-long-arrow-left:before {
  content: "\f177";
}
.fa-long-arrow-right:before {
  content: "\f178";
}
.fa-apple:before {
  content: "\f179";
}
.fa-windows:before {
  content: "\f17a";
}
.fa-android:before {
  content: "\f17b";
}
.fa-linux:before {
  content: "\f17c";
}
.fa-dribbble:before {
  content: "\f17d";
}
.fa-skype:before {
  content: "\f17e";
}
.fa-foursquare:before {
  content: "\f180";
}
.fa-trello:before {
  content: "\f181";
}
.fa-female:before {
  content: "\f182";
}
.fa-male:before {
  content: "\f183";
}
.fa-gittip:before,
.fa-gratipay:before {
  content: "\f184";
}
.fa-sun-o:before {
  content: "\f185";
}
.fa-moon-o:before {
  content: "\f186";
}
.fa-archive:before {
  content: "\f187";
}
.fa-bug:before {
  content: "\f188";
}
.fa-vk:before {
  content: "\f189";
}
.fa-weibo:before {
  content: "\f18a";
}
.fa-renren:before {
  content: "\f18b";
}
.fa-pagelines:before {
  content: "\f18c";
}
.fa-stack-exchange:before {
  content: "\f18d";
}
.fa-arrow-circle-o-right:before {
  content: "\f18e";
}
.fa-arrow-circle-o-left:before {
  content: "\f190";
}
.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "\f191";
}
.fa-dot-circle-o:before {
  content: "\f192";
}
.fa-wheelchair:before {
  content: "\f193";
}
.fa-vimeo-square:before {
  content: "\f194";
}
.fa-turkish-lira:before,
.fa-try:before {
  content: "\f195";
}
.fa-plus-square-o:before {
  content: "\f196";
}
.fa-space-shuttle:before {
  content: "\f197";
}
.fa-slack:before {
  content: "\f198";
}
.fa-envelope-square:before {
  content: "\f199";
}
.fa-wordpress:before {
  content: "\f19a";
}
.fa-openid:before {
  content: "\f19b";
}
.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: "\f19c";
}
.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: "\f19d";
}
.fa-yahoo:before {
  content: "\f19e";
}
.fa-google:before {
  content: "\f1a0";
}
.fa-reddit:before {
  content: "\f1a1";
}
.fa-reddit-square:before {
  content: "\f1a2";
}
.fa-stumbleupon-circle:before {
  content: "\f1a3";
}
.fa-stumbleupon:before {
  content: "\f1a4";
}
.fa-delicious:before {
  content: "\f1a5";
}
.fa-digg:before {
  content: "\f1a6";
}
.fa-pied-piper:before {
  content: "\f1a7";
}
.fa-pied-piper-alt:before {
  content: "\f1a8";
}
.fa-drupal:before {
  content: "\f1a9";
}
.fa-joomla:before {
  content: "\f1aa";
}
.fa-language:before {
  content: "\f1ab";
}
.fa-fax:before {
  content: "\f1ac";
}
.fa-building:before {
  content: "\f1ad";
}
.fa-child:before {
  content: "\f1ae";
}
.fa-paw:before {
  content: "\f1b0";
}
.fa-spoon:before {
  content: "\f1b1";
}
.fa-cube:before {
  content: "\f1b2";
}
.fa-cubes:before {
  content: "\f1b3";
}
.fa-behance:before {
  content: "\f1b4";
}
.fa-behance-square:before {
  content: "\f1b5";
}
.fa-steam:before {
  content: "\f1b6";
}
.fa-steam-square:before {
  content: "\f1b7";
}
.fa-recycle:before {
  content: "\f1b8";
}
.fa-automobile:before,
.fa-car:before {
  content: "\f1b9";
}
.fa-cab:before,
.fa-taxi:before {
  content: "\f1ba";
}
.fa-tree:before {
  content: "\f1bb";
}
.fa-spotify:before {
  content: "\f1bc";
}
.fa-deviantart:before {
  content: "\f1bd";
}
.fa-soundcloud:before {
  content: "\f1be";
}
.fa-database:before {
  content: "\f1c0";
}
.fa-file-pdf-o:before {
  content: "\f1c1";
}
.fa-file-word-o:before {
  content: "\f1c2";
}
.fa-file-excel-o:before {
  content: "\f1c3";
}
.fa-file-powerpoint-o:before {
  content: "\f1c4";
}
.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: "\f1c5";
}
.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: "\f1c6";
}
.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: "\f1c7";
}
.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: "\f1c8";
}
.fa-file-code-o:before {
  content: "\f1c9";
}
.fa-vine:before {
  content: "\f1ca";
}
.fa-codepen:before {
  content: "\f1cb";
}
.fa-jsfiddle:before {
  content: "\f1cc";
}
.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: "\f1cd";
}
.fa-circle-o-notch:before {
  content: "\f1ce";
}
.fa-ra:before,
.fa-rebel:before {
  content: "\f1d0";
}
.fa-ge:before,
.fa-empire:before {
  content: "\f1d1";
}
.fa-git-square:before {
  content: "\f1d2";
}
.fa-git:before {
  content: "\f1d3";
}
.fa-hacker-news:before {
  content: "\f1d4";
}
.fa-tencent-weibo:before {
  content: "\f1d5";
}
.fa-qq:before {
  content: "\f1d6";
}
.fa-wechat:before,
.fa-weixin:before {
  content: "\f1d7";
}
.fa-send:before,
.fa-paper-plane:before {
  content: "\f1d8";
}
.fa-send-o:before,
.fa-paper-plane-o:before {
  content: "\f1d9";
}
.fa-history:before {
  content: "\f1da";
}
.fa-genderless:before,
.fa-circle-thin:before {
  content: "\f1db";
}
.fa-header:before {
  content: "\f1dc";
}
.fa-paragraph:before {
  content: "\f1dd";
}
.fa-sliders:before {
  content: "\f1de";
}
.fa-share-alt:before {
  content: "\f1e0";
}
.fa-share-alt-square:before {
  content: "\f1e1";
}
.fa-bomb:before {
  content: "\f1e2";
}
.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: "\f1e3";
}
.fa-tty:before {
  content: "\f1e4";
}
.fa-binoculars:before {
  content: "\f1e5";
}
.fa-plug:before {
  content: "\f1e6";
}
.fa-slideshare:before {
  content: "\f1e7";
}
.fa-twitch:before {
  content: "\f1e8";
}
.fa-yelp:before {
  content: "\f1e9";
}
.fa-newspaper-o:before {
  content: "\f1ea";
}
.fa-wifi:before {
  content: "\f1eb";
}
.fa-calculator:before {
  content: "\f1ec";
}
.fa-paypal:before {
  content: "\f1ed";
}
.fa-google-wallet:before {
  content: "\f1ee";
}
.fa-cc-visa:before {
  content: "\f1f0";
}
.fa-cc-mastercard:before {
  content: "\f1f1";
}
.fa-cc-discover:before {
  content: "\f1f2";
}
.fa-cc-amex:before {
  content: "\f1f3";
}
.fa-cc-paypal:before {
  content: "\f1f4";
}
.fa-cc-stripe:before {
  content: "\f1f5";
}
.fa-bell-slash:before {
  content: "\f1f6";
}
.fa-bell-slash-o:before {
  content: "\f1f7";
}
.fa-trash:before {
  content: "\f1f8";
}
.fa-copyright:before {
  content: "\f1f9";
}
.fa-at:before {
  content: "\f1fa";
}
.fa-eyedropper:before {
  content: "\f1fb";
}
.fa-paint-brush:before {
  content: "\f1fc";
}
.fa-birthday-cake:before {
  content: "\f1fd";
}
.fa-area-chart:before {
  content: "\f1fe";
}
.fa-pie-chart:before {
  content: "\f200";
}
.fa-line-chart:before {
  content: "\f201";
}
.fa-lastfm:before {
  content: "\f202";
}
.fa-lastfm-square:before {
  content: "\f203";
}
.fa-toggle-off:before {
  content: "\f204";
}
.fa-toggle-on:before {
  content: "\f205";
}
.fa-bicycle:before {
  content: "\f206";
}
.fa-bus:before {
  content: "\f207";
}
.fa-ioxhost:before {
  content: "\f208";
}
.fa-angellist:before {
  content: "\f209";
}
.fa-cc:before {
  content: "\f20a";
}
.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: "\f20b";
}
.fa-meanpath:before {
  content: "\f20c";
}
.fa-buysellads:before {
  content: "\f20d";
}
.fa-connectdevelop:before {
  content: "\f20e";
}
.fa-dashcube:before {
  content: "\f210";
}
.fa-forumbee:before {
  content: "\f211";
}
.fa-leanpub:before {
  content: "\f212";
}
.fa-sellsy:before {
  content: "\f213";
}
.fa-shirtsinbulk:before {
  content: "\f214";
}
.fa-simplybuilt:before {
  content: "\f215";
}
.fa-skyatlas:before {
  content: "\f216";
}
.fa-cart-plus:before {
  content: "\f217";
}
.fa-cart-arrow-down:before {
  content: "\f218";
}
.fa-diamond:before {
  content: "\f219";
}
.fa-ship:before {
  content: "\f21a";
}
.fa-user-secret:before {
  content: "\f21b";
}
.fa-motorcycle:before {
  content: "\f21c";
}
.fa-street-view:before {
  content: "\f21d";
}
.fa-heartbeat:before {
  content: "\f21e";
}
.fa-venus:before {
  content: "\f221";
}
.fa-mars:before {
  content: "\f222";
}
.fa-mercury:before {
  content: "\f223";
}
.fa-transgender:before {
  content: "\f224";
}
.fa-transgender-alt:before {
  content: "\f225";
}
.fa-venus-double:before {
  content: "\f226";
}
.fa-mars-double:before {
  content: "\f227";
}
.fa-venus-mars:before {
  content: "\f228";
}
.fa-mars-stroke:before {
  content: "\f229";
}
.fa-mars-stroke-v:before {
  content: "\f22a";
}
.fa-mars-stroke-h:before {
  content: "\f22b";
}
.fa-neuter:before {
  content: "\f22c";
}
.fa-facebook-official:before {
  content: "\f230";
}
.fa-pinterest-p:before {
  content: "\f231";
}
.fa-whatsapp:before {
  content: "\f232";
}
.fa-server:before {
  content: "\f233";
}
.fa-user-plus:before {
  content: "\f234";
}
.fa-user-times:before {
  content: "\f235";
}
.fa-hotel:before,
.fa-bed:before {
  content: "\f236";
}
.fa-viacoin:before {
  content: "\f237";
}
.fa-train:before {
  content: "\f238";
}
.fa-subway:before {
  content: "\f239";
}
.fa-medium:before {
  content: "\f23a";
}
/**
 * fullPage 2.5.6
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 */
html,
body {
  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.fp-section {
  position: relative;
  -webkit-box-sizing: border-box;
  /* Safari<=5 Android<=3 */
  -moz-box-sizing: border-box;
  /* <=28 */
  box-sizing: border-box;
}
.fp-slide {
  float: left;
}
.fp-slide,
.fp-slidesContainer {
  height: 100%;
  display: block;
}
.fp-slides {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  /* Safari<=6 Android<=4.3 */
  transition: all 0.3s ease-out;
}
.fp-section.fp-table,
.fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
.fp-slidesContainer {
  float: left;
  position: relative;
}
.fp-controlArrow {
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.fp-controlArrow.fp-prev {
  left: 15px;
  width: 0;
  border-width: 38.5px 34px 38.5px 0;
  border-color: transparent #fff transparent transparent;
}
.fp-controlArrow.fp-next {
  right: 15px;
  border-width: 38.5px 0 38.5px 34px;
  border-color: transparent transparent transparent #fff;
}
.fp-scrollable {
  overflow: scroll;
}
.fp-notransition {
  -webkit-transition: none !important;
  transition: none !important;
}
#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
}
#fp-nav.right {
  right: 17px;
}
#fp-nav.left {
  left: 17px;
}
.fp-slidesNav {
  position: absolute;
  z-index: 4;
  left: 50%;
  opacity: 1;
}
.fp-slidesNav.bottom {
  bottom: 17px;
}
.fp-slidesNav.top {
  top: 17px;
}
#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
}
#fp-nav ul li,
.fp-slidesNav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative;
}
.fp-slidesNav ul li {
  display: inline-block;
}
#fp-nav ul li a,
.fp-slidesNav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 50%;
  line-height: 8px;
  width: 11px;
  height: 11px;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span {
  background: #fff;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  display: inline-block;
  top: 0;
  left: 0;
  width: 5px;
  height: 5px;
  background: rgba(0, 0, 0, 0);
  margin: 2px;
  border-radius: 50%;
  font-size: 1px;
  position: absolute;
  z-index: 1;
}
#fp-nav ul li .fp-tooltip {
  position: absolute;
  top: -2px;
  color: #fff;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  white-space: nowrap;
  max-width: 220px;
  overflow: hidden;
  display: block;
  opacity: 0;
  width: 0;
}
.white-slide #fp-nav ul li a {
  border-color: #e7413d;
}
.white-slide #fp-nav ul li a.active span {
  background: #e7413d;
}
#fp-nav ul li:hover .fp-tooltip {
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  width: auto;
  opacity: 1;
}
#fp-nav ul li .fp-tooltip.right {
  right: 20px;
}
#fp-nav ul li .fp-tooltip.left {
  left: 20px;
}
/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 */
.jspContainer {
  overflow: hidden;
  position: relative;
}
.jspPane {
  position: absolute;
}
.jspVerticalBar {
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 100%;
}
.jspHorizontalBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px;
}
.jspCap {
  display: none;
}
.jspHorizontalBar .jspCap {
  float: left;
}
.jspTrack {
  background: none;
  position: relative;
  padding: 0;
}
.jspDrag {
  background: #cccccc;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
  border-radius: 4px;
}
.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
  float: left;
  height: 100%;
}
.jspArrow {
  text-indent: -20000px;
  display: block;
  cursor: pointer;
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
  background: transparent;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}
.jspArrow.jspDisabled {
  cursor: default;
}
.jspArrow.jspArrowUp {
  border-bottom: 4px solid #535353;
  margin-bottom: 10px;
}
.jspArrow.jspArrowUp.jspDisabled {
  border-bottom-color: #a2a2a2;
}
.jspArrow.jspArrowDown {
  border-top: 4px solid #535353;
  margin-top: 10px;
}
.jspArrow.jspArrowDown.jspDisabled {
  border-top-color: #a2a2a2;
}
.jspVerticalBar .jspArrow {
  height: 8px;
}
.jspHorizontalBar .jspArrow {
  width: 16px;
  float: left;
  height: 100%;
}
.jspVerticalBar .jspArrow:focus {
  outline: none;
}
.jspCorner {
  background: #eeeef4;
  float: left;
  height: 100%;
}
/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
  margin: 0 -3px 0 0;
}
.b-slides-page,
.b-slides-page body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body {
  min-height: 100%;
  position: relative;
}
input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b-caret {
  display: none;
  width: 0;
  height: 0;
  margin-left: 5px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.size-desktop .b-caret {
  display: inline-block;
}
.b-form-group {
  display: block;
  position: relative;
}
@media (min-width: 768px) {
  .b-form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
}
.b-form-group__max-width {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}
.b-form-control {
  display: block;
  width: 100%;
  height: 32px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 28px;
}
.b-form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.b-form-control:-ms-input-placeholder {
  color: #999999;
}
.b-form-control::-webkit-input-placeholder {
  color: #999999;
}
textarea.b-form-control {
  height: auto;
}
.b-form-control:focus {
  outline: none;
}
textarea.b-form-control {
  height: auto;
  min-height: 100px;
  border-radius: 12px;
}
.b-form-control__larger-padding {
  padding-right: 18px;
  padding-left: 18px;
}
.b-form-control__narrow {
  min-width: 100px;
  width: auto;
}
.b-form-control__error {
  border-color: #cf5044;
  background: #fef7f7;
}
.b-form-control__inline {
  display: inline-block;
  margin-right: 15px;
}
.b-checkbox {
  display: inline-block;
  margin-right: 35px;
  margin-bottom: 15px;
  /* Base for label styling */
  /* checkbox aspect */
  /* checked mark aspect */
  /* checked mark aspect changes */
}
.b-checkbox [type="checkbox"]:not(:checked),
.b-checkbox [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
.b-checkbox [type="checkbox"]:not(:checked) + span,
.b-checkbox [type="checkbox"]:checked + span {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}
.b-checkbox [type="checkbox"]:not(:checked) + span:before,
.b-checkbox [type="checkbox"]:checked + span:before {
  content: '';
  position: absolute;
  left: 0;
  top: -2px;
  width: 25px;
  height: 25px;
  border: 1px solid #aaa;
  background: #fff;
  border-radius: 1px;
}
.b-checkbox [type="checkbox"]:not(:checked) + span:after,
.b-checkbox [type="checkbox"]:checked + span:after {
  content: '\f00c';
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  top: -1px;
  left: 2px;
  font-size: 22px;
  color: #669900;
}
.b-checkbox [type="checkbox"]:not(:checked) + span:after {
  opacity: 0;
  transform: scale(0);
}
.b-checkbox [type="checkbox"]:checked + span:after {
  opacity: 1;
  transform: scale(1);
}
.b-checkbox__ok [type="checkbox"]:not(:checked) + span:before,
.b-checkbox__ok [type="checkbox"]:checked + span:before {
  border-color: #690;
}
.b-checkbox__ok [type="checkbox"]:not(:checked) + span:after,
.b-checkbox__ok [type="checkbox"]:checked + span:after {
  left: 2px;
  color: #669900;
}
.b-checkbox__error [type="checkbox"]:not(:checked) + span:before,
.b-checkbox__error [type="checkbox"]:checked + span:before {
  border-color: #e7413d;
}
.b-checkbox__error [type="checkbox"]:not(:checked) + span:after,
.b-checkbox__error [type="checkbox"]:checked + span:after {
  content: '\f00d';
  color: #e7413d;
  left: 4px;
}
.b-form-control__btn-inside {
  padding-right: 27px;
}
.b-form-control__btn-inside + button,
.b-form-control__btn-inside + input[type="submit"] {
  display: block;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 22px;
  height: 22px;
  font-size: 12.1px;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  border: none;
  background-color: #e7413d;
  background-image: url(images/sprite.png);
  background-repeat: no-repeat;
  background-position: -5px -5px;
}
.b-form-control__btn-inside + button:focus,
.b-form-control__btn-inside + input[type="submit"]:focus,
.b-form-control__btn-inside + button:active,
.b-form-control__btn-inside + input[type="submit"]:active {
  outline: none;
}
.b-btn {
  display: inline-block;
  background: #e7413d;
  color: #ffffff;
  text-align: center;
  min-width: 225px;
  min-height: 66px;
  border: 0;
  border-radius: 33px;
  font-size: 24px;
  padding: 25px 38px;
  line-height: 16px;
  -webkit-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
.b-btn:hover,
.b-btn:active,
.b-btn:focus {
  background: #cf5044;
  color: #ffffff;
  text-decoration: none;
}
.b-btn__slim {
  min-height: 34px;
  min-width: inherit;
  font-size: 18px;
  border-radius: 17px;
  padding: 0px 22px;
  line-height: 34px;
}
.b-btn__bold {
  font-weight: 700;
}
.b-btn__hor-space {
  margin-left: 38px;
  margin-right: 38px;
}
.b-btn__centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.b-slides {
  height: 100%;
  position: relative;
  /* Touch detection for Windows 8 */
  -ms-touch-action: none;
  /* IE 11 on Windows Phone 8.1*/
  touch-action: none;
}
.b-slide {
  display: block;
  min-height: 100%;
  padding-top: 60px;
  position: relative;
}
.b-slide__blue-bg {
  background: #1e5180 url(images/pattern.png) 25px 25px;
  color: #fff;
}
.b-slide__white-bg {
  background: #ffffff url(images/pattern-white.png) 25px 25px;
}
.b-slide--title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  margin: 20px auto 50px;
}
.b-slide--description {
  text-align: center;
  font-size: 1.2em;
  line-height: 1.31;
  margin-bottom: 45px;
}
.b-slide--videos {
  margin-right: -15px;
  margin-left: -15px;
}
.b-slide--video {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 45px;
}
@media (min-width: 768px) {
  .b-slide--video {
    width: 33.33333333%;
  }
}
.b-slide--video-title {
  margin-top: 18px;
  font-size: 18px;
  font-weight: 700;
}
.b-buttons-container {
  text-align: center;
  margin-bottom: 45px;
}
.b-navbar {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 60px;
  font-size: 16px;
  -webkit-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  color: #333333;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
}
.b-navbar__position-fixed-top,
.b-navbar__position-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
@media (min-width: 768px) {
  .b-navbar__position-fixed-top,
  .b-navbar__position-fixed-bottom {
    border-radius: 0;
  }
}
.b-navbar__position-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
.b-navbar__position-fixed-bottom {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
}
.b-logo {
  float: left;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 13.5px;
  margin-bottom: 13.5px;
  font-size: 18px;
  line-height: 20px;
  margin-right: 70px;
}
.b-logo:hover,
.b-logo:focus {
  text-decoration: none;
}
@media (min-width: 768px) {
  .b-navbar > .container .b-logo {
    margin-left: -15px;
  }
}
.b-logo--image {
  display: block;
}
.b-logo--image__status-active {
  display: block;
}
.b-logo--image__status-inactive {
  display: none;
}
.b-navbar--nav {
  padding-left: 0;
  list-style: none;
  float: left;
  margin: 0;
}
.b-navbar--nav > li > a > img {
  max-width: none;
}
.b-navbar--item {
  position: relative;
  display: block;
  margin-right: 25px;
  float: left;
}
.b-navbar--nav .b-navbar--item:last-child {
  margin-right: 0;
}
.b-navbar--item__form {
  padding: 10px 25px;
  margin-top: 14px;
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .b-navbar--item__form {
    float: left;
    width: auto;
    border: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.b-navbar--item__form input[type="search"] {
  min-width: 270px;
}
.b-navbar--link {
  position: relative;
  display: block;
  padding: 10px 15px;
  line-height: 20px;
  color: #333333;
  -webkit-transition: color 100ms ease-in-out;
  -o-transition: color 100ms ease-in-out;
  transition: color 100ms ease-in-out;
  padding-top: 20px;
  padding-bottom: 20px;
}
.b-navbar--link:hover,
.b-navbar--link:focus {
  color: #e7413d;
  text-decoration: underline;
}
.b-navbar--link__underlined {
  text-decoration: underline;
}
.b-navbar--link__has-icon {
  position: relative;
  padding-left: 34px;
}
.b-navbar--link__has-icon::before {
  position: absolute;
  content: '';
  top: 23px;
  left: 8px;
  width: 18px;
  height: 18px;
  background-image: url(images/sprite.png);
  background-repeat: no-repeat;
}
.b-navbar--link__signin::before {
  background-position: -5px -37px;
}
.b-navbar--link__signup::before {
  background-position: -5px -93px;
}
.b-navbar--link__alt-font {
  font-family: "Open Sans", sans-serif;
}
.b-navbar__status-inactive {
  color: #ffffff;
  background: rgba(255, 255, 255, 0);
  border-bottom: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.b-navbar__status-inactive .b-logo--image__status-active {
  display: none;
}
.b-navbar__status-inactive .b-logo--image__status-inactive {
  display: block;
}
.b-navbar__status-inactive .b-navbar--link {
  color: #ffffff;
}
.b-navbar__status-inactive .b-navbar--item__togglable {
  display: none;
}
.b-navbar__status-inactive .b-navbar--link__signin::before {
  background-position: -5px -65px;
}
.b-navbar__status-inactive .b-navbar--link__signup::before {
  background-position: -5px -121px;
}
.size-phone .b-navbar--item__togglable,
.size-tablet .b-navbar--item__togglable {
  display: none;
}
.b-navbar--nav__left {
  float: left !important;
}
.b-navbar--nav__right {
  float: right !important;
  margin-right: -15px;
}
.b-navbar--nav__right ~ .b-navbar--nav__right {
  margin-right: 0;
}
.b-dropdown {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 1030;
  background: #ffffff;
  min-width: 235px;
  padding-left: 0;
  margin: 0;
  list-style: none;
}
.b-dropdown__visible {
  display: block;
}
.b-dropdown--submenu,
.b-dropdown--submenu-container {
  display: none;
  position: absolute;
  top: 0;
  list-style: none;
  min-height: 100%;
  min-width: 300px;
  padding: 20px;
  padding-right: 0;
}
.b-dropdown--item__depth-1 {
  border-bottom: 1px solid #d6d6d6;
}
.b-dropdown--item__depth-1:last-of-type {
  border-bottom: none;
}
.b-dropdown--link__depth-1 {
  position: relative;
  display: block;
  padding: 20px 15px;
  padding-left: 40px;
  line-height: 20px;
  color: #333333;
}
.b-dropdown--link__depth-1::before {
  position: absolute;
  content: '';
  top: 26px;
  left: 17px;
  width: 9px;
  height: 9px;
  line-height: 9px;
  background: #cccccc;
  -webkit-transition: background 100ms ease-in-out;
  -o-transition: background 100ms ease-in-out;
  transition: background 100ms ease-in-out;
}
.b-dropdown--link__depth-1:hover,
.b-dropdown--link__depth-1:focus,
.b-dropdown--link__depth-1:active,
.b-dropdown--link__depth-1.active {
  text-decoration: none;
  background: #f3f3f3;
}
.b-dropdown--link__physics::before {
  background: #cf5044;
}
.b-dropdown--item__depth-2 {
  font-weight: bold;
  font-size: 14px;
}
.b-dropdown--item__depth-2,
.b-dropdown--item__depth-2 a {
  color: #fff;
}
.b-dropdown--item__depth-2 a {
  display: inline-block;
  padding: 2px 10px;
  width: 100%;
  margin-left: -10px;
}
.b-dropdown--item__depth-2 a:hover {
  background: rgba(255, 255, 255, 0.25);
  text-decoration: none;
}
.b-dropdown--item__header {
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 5px;
}
.b-dropdown--item__header,
.b-dropdown--item__header a {
  color: #e5a19b;
}
.b-dropdown--item__header a {
  text-decoration: none;
}
.b-submenu--column > .b-dropdown--item__header:first-child {
  margin-top: 0;
}
.b-submenu--column {
  list-style: none;
  padding-left: 0;
  padding-right: 30px;
  float: left;
}
.b-submenu--column:last-of-type {
  padding-right: 0;
}
.b-submenu--column__cols-1 {
  float: none;
}
.b-submenu--column__cols-2 {
  width: 50%;
}
.b-submenu--column__cols-3 {
  width: 33.33333333%;
}
.b-submenu--column__cols-4 {
  width: 25%;
}
.b-submenu--column__cols-5 {
  width: 20%;
}
.b-dropdown-bg {
  display: none;
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
  height: 0;
  padding-left: 2px;
  z-index: 1029;
  -webkit-transition: height 150ms ease-out;
  -o-transition: height 150ms ease-out;
  transition: height 150ms ease-out;
}
.b-dropdown-bg--insides {
  position: relative;
  background: #e7413d;
  height: 100%;
}
.b-slide__intro {
  background: #1e5180 url("images/slides/1-intro.jpg") no-repeat center;
  background-size: cover;
}
.b-intro-quote {
  color: #fff;
  font-family: 'Oranienbaum', serif;
  font-size: 22px;
  margin: 30px;
  text-align: center;
}
.b-intro-quote--text {
  font-size: 64px;
  line-height: 65px;
  margin-bottom: 30px;
}
.b-intro-quote--author {
  display: inline-block;
  position: relative;
  padding: 0 270px;
  margin-bottom: 30px;
  white-space: ;
}
.b-intro-quote--decoration {
  position: absolute;
  width: 235px;
  top: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center;
}
.b-intro-quote--decoration__left {
  background-image: url(images/quote-left.png);
  left: 0;
}
.b-intro-quote--decoration__right {
  background-image: url(images/quote-right.png);
  right: 0;
}
.b-intro--next-slide {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  height: 100px;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.3);
  -webkit-transition: all 100ms ease-out;
  -o-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}
.b-intro--next-slide:hover {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.45);
}
@media (min-width: 768px) {
  .b-intro--next-slide {
    display: block;
  }
}
.b-intro--next-slide-icon {
  font-size: 66.66666667px;
  line-height: 111.11111111px;
}
.b-slide__pupils {
  background: #1e5180 url(images/pattern.png) 25px 25px;
  color: #fff;
}
.b-feature {
  position: relative;
  display: inline-block;
  width: 50%;
  min-height: 85px;
  vertical-align: top;
  padding-left: 135px;
  padding-right: 15px;
  margin-bottom: 30px;
}
.b-feature--icon {
  position: absolute;
  width: 85px;
  height: 85px;
  left: 15px;
  top: 0;
  background: url(images/icons-sprite.png) no-repeat -5px -5px;
}
.b-feature--icon__1 {
  background-position: -5px -5px;
}
.b-feature--icon__2 {
  background-position: -100px -5px;
}
.b-feature--icon__3 {
  background-position: -5px -100px;
}
.b-feature--icon__4 {
  background-position: -100px -100px;
}
.b-feature--icon__5 {
  background-position: -195px -5px;
}
.b-feature--icon__6 {
  background-position: -195px -100px;
}
.b-feature--title {
  font-size: 16px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 5px;
}
.b-header {
  background: #1e5180 url(images/pattern.png);
  color: #fff;
  padding: 30px 0;
  margin-top: 60px;
}
.b-header a {
  color: #fff;
  text-decoration: none;
}
.b-breadcrumbs {
  font-weight: 700;
  font-size: 16px;
}
.b-breadcrumbs--divider {
  display: inline-block;
  margin-right: 15px;
  margin-left: 15px;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
.b-breadcrumbs--divider::before {
  content: '\f054';
}
.b-content {
  padding-top: 50px;
  padding-bottom: 65px;
}
.b-content__registration {
  background: #efefef;
}
.b-page-title {
  font-size: 60px;
  font-family: "Open Sans", "Trebuchet MS", Helvetica, Verdana, sans-serif;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 50px;
}
.b-page-title__sm {
  font-size: 50px;
  line-height: 1.05;
}
.b-page-title__centered {
  text-align: center;
}
.b-page-title__in-header {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 60px;
}
.b-page-title__with-icon {
  overflow: hidden;
}
.b-page-title--icon {
  display: block;
  float: left;
  margin-right: 32px;
}
.b-subtitle {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
}
.b-subtitle__sm {
  font-size: 20px;
}
.b-subtitle__centered {
  text-align: center;
}
.b-footer {
  background: #1e5180;
  padding: 25px 0;
}
.b-footer,
.b-footer a {
  color: #fff;
}
.b-footer a {
  text-decoration: underline;
}
.b-footer__pos-absolute {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.b-footer--module {
  padding-bottom: 25px;
}
.b-footer--module__social {
  text-align: right;
}
.b-footer--title {
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 20px;
}
.b-footer--meta {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid #4b7499;
}
.b-social-list {
  padding-left: 0;
  margin: 0;
  margin-top: -3px;
  list-style: none;
}
.b-social-list__position-feedback {
  margin-bottom: 25px;
}
.b-social-list--item {
  display: inline-block;
  vertical-align: top;
  margin-right: 22px;
}
.b-social-list--item__last {
  margin-right: 0;
}
.b-social-list--link {
  display: inline-block;
  border: 2px solid #fff;
  width: 35px;
  height: 35px;
  line-height: 31px;
  font-size: 17px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
}
.b-social-list--link:hover {
  color: #fff;
}
.b-social-list--link .fa-facebook {
  margin-left: -2px;
  margin-top: 8px;
}
.b-social-list--link .fa-google-plus {
  margin-right: -3px;
  margin-top: 8px;
}
.b-footer--copyright {
  padding: 22px 0 0;
}
.b-copyright--item {
  display: inline-block;
  margin-right: 45px;
  vertical-align: top;
}
.b-copyright--item:last-child {
  margin-right: 0;
}
.b-social-share {
  margin-bottom: 33px;
}
.b-social-share__small_margin {
  margin-bottom: 25px;
}
.b-social-share--title {
  font-size: 14px;
  font-style: italic;
}
.b-reg-form {
  display: block;
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  border-radius: 9px;
  padding: 40px 70px;
}
.b-form-group__reg {
  display: block;
  margin-bottom: 15px;
}
.b-control-label__reg,
.b-form-control__reg,
.b-control-label__captcha,
.b-form-control__captcha {
  display: inline-block;
  vertical-align: top;
}
.b-control-label__captcha,
.b-control-label__reg {
  font-weight: 700;
  font-size: 16px;
}
.b-control-label__reg {
  width: 25%;
}
.b-form-control__reg {
  width: 74%;
}
.b-control-label__captcha {
  margin-right: 30px;
}
@media (min-width: 768px) {
  .b-control-label__reg,
  .b-control-label__captcha {
    margin-bottom: 0;
    padding-top: 7px;
  }
}
.b-reg-form--section-title {
  color: #cccccc;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-top: 43px;
  margin-bottom: 50px;
}
.b-form-group__captcha {
  margin-top: 64px;
  margin-bottom: 75px;
}
.b-captcha {
  margin-bottom: 15px;
}
.b-captcha--image {
  display: inline-block;
  margin-right: 20px;
}
.b-captcha--refresh {
  color: #1e5180;
}
.b-social-login {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 67px;
}
.b-social-login--icons {
  padding-left: 0;
  list-style: none;
  text-align: center;
  margin-bottom: 20px;
}
.b-social-login--item {
  display: inline-block;
  margin: 0 10px 15px;
}
.b-social-login--or {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: -22px;
  height: 44px;
  width: 44px;
  border: 2px solid #cccccc;
  background: #fff;
  border-radius: 50%;
  color: #cccccc;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
}
.b-course-info {
  margin-left: -15px;
  margin-right: -15px;
}
.b-course-info--module__description {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .b-course-info--module__description {
    float: left;
    width: 58.33333333%;
  }
}
.b-course-info--module__authors {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .b-course-info--module__authors {
    float: left;
    width: 33.33333333%;
  }
}
@media (min-width: 768px) {
  .b-course-info--module__authors {
    margin-left: 8.33333333%;
  }
}
.b-bio {
  margin-bottom: 33px;
  overflow: hidden;
}
.b-bio--icon {
  display: inline-block;
  margin-right: 20px;
  border-radius: 50%;
  float: left;
}
.b-bio--info {
  display: block;
}
.b-bio--name {
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 15px;
}
.b-bio--description {
  font-style: italic;
  line-height: 1;
}
.b-topic-counter {
  float: right;
  min-width: 70px;
}
.b-topic-counter--number {
  display: inline-block;
  background: #e7413d;
  color: #fff;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-weight: 700;
}
.b-subtitle__course {
  margin-bottom: 30px;
  position: relative;
  padding-left: 28px;
}
.b-subtitle__course a {
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px dotted #1e5180;
}
.b-subtitle__course a:hover {
  text-decoration: none;
}
.b-subtitle__course::before {
  content: "\f054";
  position: absolute;
  left: 0;
  top: 0;
  font: normal normal normal 14px/1 FontAwesome;
  line-height: 22px;
  color: #1e5180;
  font-size: 22px;
}
.b-course__open .b-subtitle__course::before {
  content: "\f078";
}
.b-course__open .b-course--table {
  display: table;
}
.b-course--table {
  display: none;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.b-course--table > thead > tr > th,
.b-course--table > tbody > tr > th,
.b-course--table > tfoot > tr > th,
.b-course--table > thead > tr > td,
.b-course--table > tbody > tr > td,
.b-course--table > tfoot > tr > td {
  padding: 10px;
  line-height: 1.42857143;
  vertical-align: top;
  border-bottom: 1px solid #d6d6d6;
  font-size: 16px;
  font-weight: bold;
}
.b-course--table > thead > tr > th,
.b-course--table > tbody > tr > th,
.b-course--table > tfoot > tr > th {
  text-align: left;
  color: #999999;
  font-size: 13px;
  text-transform: uppercase;
  padding-left: 0;
}
.b-course--table > thead > tr > th small,
.b-course--table > tbody > tr > th small,
.b-course--table > tfoot > tr > th small {
  display: block;
}
.b-course--table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 1px solid #d6d6d6;
}
.b-course--table > caption + thead > tr:first-child > th,
.b-course--table > colgroup + thead > tr:first-child > th,
.b-course--table > thead:first-child > tr:first-child > th,
.b-course--table > caption + thead > tr:first-child > td,
.b-course--table > colgroup + thead > tr:first-child > td,
.b-course--table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.b-course--table > tbody + tbody {
  border-top: 2px solid #d6d6d6;
}
.b-course--table a {
  color: #e7413d;
  text-decoration: underline;
  font-weight: 400;
}
.b-course--table a:hover {
  color: #cf5044;
}
.b-course--col__name {
  width: 40%;
}
.b-course--summary-mark {
  color: #999999;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 25px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
.b-course--summary-mark:before {
  content: "\f00c";
}
.b-course--finished-tasks__mark {
  color: #e7413d;
}
.b-topic {
  margin-left: -15px;
  margin-right: -15px;
}
.b-topic--meta {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 18px;
}
@media (min-width: 768px) {
  .b-topic--meta {
    float: left;
    width: 41.66666667%;
  }
}
.b-topic--tabs {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .b-topic--tabs {
    float: left;
    width: 58.33333333%;
  }
}
.b-topic--bookmark {
  color: #e7413d;
  font-weight: 700;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 55px;
}
.b-topic--bookmark a {
  margin-left: 12px;
}
.b-topic--bookmark::before {
  content: '\f02e';
  font: normal normal normal 14px/1 FontAwesome;
}
.b-topic--description {
  margin-bottom: 50px;
}
.b-topic-nav {
  border: 1px solid #cccccc;
  border-left: 0;
  border-right: 0;
  padding-top: 22px;
  padding-bottom: 22px;
}
.b-topic-nav--item {
  position: relative;
  float: left;
  width: 50%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  color: #e7413d;
  font-size: 14px;
  font-weight: 700;
}
.b-topic-nav--item::before,
.b-topic-nav--item::after {
  font: normal normal normal 14px/1 FontAwesome;
}
.b-topic-nav--item__prev {
  text-align: left;
}
.b-topic-nav--item__prev::before {
  content: '\f177';
}
.b-topic-nav--item__next {
  text-align: right;
}
.b-topic-nav--item__next::after {
  content: '\f178';
}
.b-topic-nav--link {
  color: #e7413d;
}
.b-topic-nav--link:hover {
  color: #cf5044;
}
.b-tabs {
  padding-left: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 35px;
}
.b-tabs--item {
  display: inline-block;
  width: 33.33333333%;
  padding-right: 20px;
}
.b-tabs--item:last-child {
  padding-right: 0;
}
.b-tabs--link {
  background: #e7413d;
  text-align: center;
  display: inline-block;
  width: 100%;
  color: #fff;
  border-radius: 30px;
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
}
.b-tabs--link:hover,
.b-tabs--link:active,
.b-tabs--link:focus {
  text-decoration: none;
  color: #fff;
}
.b-tabs--link::before {
  content: '';
  display: inline-block;
  width: 34px;
  height: 34px;
  background: url(images/tabs-sprite.png) no-repeat 0 0;
  vertical-align: middle;
  margin-top: -4px;
  margin-right: 16px;
}
.b-tabs--link__video::before {
  background-position: 0 0;
}
.b-tabs--link__text::before {
  background-position: -34px 0;
}
.b-tabs--link__tasks::before {
  background-position: -68px 0;
}
.b-tabs--item.active .b-tabs--link {
  background: #fff;
  color: #e7413d;
  border: 1px solid #e7413d;
}
.b-tabs--item.active .b-tabs--link__video::before {
  background-position: 0 -34px;
}
.b-tabs--item.active .b-tabs--link__text::before {
  background-position: -34px -34px;
}
.b-tabs--item.active .b-tabs--link__tasks::before {
  background-position: -68px -34px;
}
.b-tabs--item.disabled .b-tabs--link {
  background: #fff;
  color: #cccccc;
  border: 1px solid #cccccc;
  cursor: not-allowed;
}
.b-tabs--item.disabled .b-tabs--link__video::before {
  background-position: 0 -68px;
}
.b-tabs--item.disabled .b-tabs--link__text::before {
  background-position: -34px -68px;
}
.b-tabs--item.disabled .b-tabs--link__tasks::before {
  background-position: -68px -68px;
}
.b-tab-pane {
  display: none;
}
.b-tab-pane.active {
  display: block;
}
.b-video {
  margin-bottom: 50px;
}
.b-video--transcript-toggle {
  color: #e7413d;
  text-align: right;
  margin-top: 40px;
  margin-bottom: 15px;
}
.b-video--transcript-wrapper {
  display: inline-block;
  font-weight: 700;
}
.b-video--transcript-wrapper::before {
  font: normal normal normal 14px/1 FontAwesome;
  display: inline-block;
  margin-right: 10px;
}
.b-video--transcript-wrapper__on::before {
  content: '\f027';
}
.b-video--transcript-wrapper__off {
  display: none;
}
.b-video--transcript-wrapper__off::before {
  content: '\f00d';
}
.b-video--transcript-link {
  color: #e7413d;
  border-bottom: 1px dotted #e7413d;
  text-decoration: none;
}
.b-video--transcript-link:hover,
.b-video--transcript-link:active,
.b-video--transcript-link:focus {
  text-decoration: none;
  color: #cf5044;
  border-bottom: 1px solid #cf5044;
}
.b-video--transcript-toggle__on .b-video--transcript-wrapper__on {
  display: none;
}
.b-video--transcript-toggle__on .b-video--transcript-wrapper__off {
  display: inline-block;
}
.b-transcript {
  display: none;
  height: 300px;
}
.b-transcript:focus {
  outline: none;
}
.b-transcript.active {
  display: block;
}
.b-transcript--part {
  overflow: hidden;
  margin-bottom: 25px;
}
.b-transcript--part:last-child {
  margin-bottom: 0;
}
.b-transcript--timecode {
  float: left;
  width: 15%;
  font-size: 16px;
  font-weight: 700;
}
.b-transcript--text {
  float: left;
  width: 85%;
}
.b-transcript--current {
  background: #e7413d;
  color: #fff;
  display: inline-block;
  margin-left: -3px;
  margin-right: -3px;
  padding-left: 3px;
  padding-right: 3px;
}
.b-video-carousel {
  position: relative;
  padding: 0 25px;
}
.b-video-carousel--container {
  overflow: hidden;
}
.b-video-carousel--item {
  margin-right: 5px;
  margin-left: 5px;
}
.b-video-carousel--image {
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
  height: auto;
  position: relative;
}
.b-video-carousel--link {
  display: block;
  font-weight: 700;
}
.b-video-carousel--link__image {
  position: relative;
}
.b-video-carousel--link__image::before {
  position: absolute;
  display: inline-block;
  height: 34px;
  top: 50px;
  margin-top: -17px;
  left: 0;
  width: 100%;
  content: '';
  background: url(images/video-play.png) no-repeat center;
  z-index: 2;
}
.b-video-carousel--item__current .b-video-carousel--link__image {
  opacity: 0.53;
  filter: alpha(opacity=53);
}
.b-video-carousel--item__current .b-video-carousel--link {
  color: #cccccc;
  cursor: default;
}
.b-video-carousel--item__current .b-video-carousel--link:hover {
  text-decoration: none;
}
.b-video-carousel--control {
  position: absolute;
  height: 25px;
  display: inline-block;
  top: 37.5px;
  line-height: 25px;
  font: normal normal normal 14px/1 FontAwesome;
}
.b-video-carousel--control::before {
  font-size: 25px;
}
.b-video-carousel--control:hover,
.b-video-carousel--control:active,
.b-video-carousel--control:focus {
  text-decoration: none;
}
.b-video-carousel--control.disabled {
  cursor: default;
  color: #cccccc;
}
.b-video-carousel--control__prev {
  left: 0;
}
.b-video-carousel--control__prev::before {
  content: '\f053';
}
.b-video-carousel--control__next {
  right: 0;
}
.b-video-carousel--control__next::before {
  content: '\f054';
}
.b-synopsis {
  margin-bottom: 45px;
}
.b-synopsis__has-image {
  overflow: hidden;
}
.b-synopsis__has-image .b-synopsis--content,
.b-synopsis__has-image .b-subtitle {
  margin-left: 180px;
}
.b-synopsis--image {
  float: left;
  width: 160px;
  text-align: center;
}
.b-synopsis--image img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}
.b-synopsis--image-title {
  font-style: italic;
  color: #666;
  line-height: 1;
}
.b-synopsis--content {
  font-size: 16px;
}
.b-task {
  border: 1px solid #cccccc;
  border-radius: 7px;
  font-size: 16px;
  margin-bottom: 25px;
}
.b-task--header {
  border-bottom: 1px solid #cccccc;
  background: #efefef;
  padding: 20px;
  line-height: 22px;
  overflow: hidden;
}
.b-task--num {
  font-weight: 700;
  font-size: 22px;
  display: inline-block;
  vertical-align: top;
  margin-right: 25px;
}
.b-task--status {
  font-style: italic;
  display: inline-block;
  vertical-align: top;
}
.b-task--status__solved {
  color: #669900;
}
.b-task--status__solved::before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  content: '\f00c';
  margin-right: 7px;
}
.b-task--status__error {
  color: #e7413d;
}
.b-task--complexity {
  float: right;
  display: inline-block;
  font-style: italic;
  height: 22px;
  padding-right: 35px;
  position: relative;
}
.b-task--complexity::after {
  content: '';
  background: url(images/complexity-sprite.png) no-repeat right 0;
  position: absolute;
  right: 0;
  bottom: 5px;
  width: 28px;
  height: 22px;
}
.b-task--complexity__1::after {
  background-position: right 0;
}
.b-task--complexity__2::after {
  background-position: right -22px;
}
.b-task--complexity__3::after {
  background-position: right -44px;
}
.b-task--complexity__4::after {
  background-position: right -66px;
}
.b-task--complexity__5::after {
  background-position: right -88px;
}
.b-task--body {
  padding: 20px;
}
.b-task--text {
  margin-bottom: 35px;
}
.b-task--text img {
  display: block;
  max-width: 100%;
  height: auto;
}
.b-task--check {
  color: #e7413d;
  text-decoration: underline;
}
.b-feedback {
  position: fixed;
  z-index: 1031;
  top: 0;
  left: -320px;
  width: 320px;
  background: #1e5180;
  color: #fff;
  padding: 10px;
  text-align: center;
  -webkit-transition: left 250ms ease-out;
  -o-transition: left 250ms ease-out;
  transition: left 250ms ease-out;
}
.b-feedback.active {
  left: 0;
  max-width: 100%;
}
.b-feedback.active .b-feedback--tumbler::before {
  content: '\f00d';
}
.b-feedback--tumbler {
  display: inline-block;
  position: absolute;
  width: 65px;
  height: 60px;
  background: #e7413d;
  right: -65px;
  top: 120px;
  border-bottom-right-radius: 32.5px;
  border-top-right-radius: 32.5px;
  color: #fff;
}
.b-feedback--tumbler::before {
  display: block;
  position: absolute;
  top: 0;
  right: 8.125px;
  bottom: 0;
  left: 0;
  font: normal normal normal 14px/1 FontAwesome;
  content: '\f003';
  line-height: 60px;
  text-align: center;
  font-size: 30px;
}
.b-feedback--tumbler:hover,
.b-feedback--tumbler:focus,
.b-feedback--tumbler:active {
  color: #fff;
}
.b-feedback--logo {
  margin-top: 22px;
  margin-bottom: 23px;
}
.b-feedback--logo img {
  display: inline-block;
  margin-left: -40px;
}
.b-feedback--form {
  margin: 0;
  padding: 0 20px 35px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.b-feedback--title {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 39px;
  line-height: 48px;
  margin-top: 0;
  margin-bottom: 18px;
  padding: 0;
  text-align: left;
}
.b-feedback--subtitle {
  margin-bottom: 25px;
  font-weight: 700;
  text-align: left;
  font-size: 18px;
  line-height: 1.2;
}
.b-feedback--subtitle__center {
  text-align: center;
}
.b-btn__feedback {
  width: 80%;
  margin-top: 40px;
  margin-bottom: 0px;
}
