/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 */

.jspContainer
{
	overflow: hidden;
	position: relative;

}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 8px;
	height: 100%;
//	background: red;
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 8px;
//	background: red;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	background: none;
	position: relative;
	padding: 0;
}

.jspDrag
{
	background: @gac-darkgrey;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
	border-radius: 4px;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	text-indent: -20000px;
	display: block;
	cursor: pointer;
	padding: 0;
	margin: 0;
	width: 0;
	height: 0;
	background: transparent;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;

}

.jspArrow.jspDisabled {
	cursor: default;
}

.jspArrow.jspArrowUp {
	border-bottom: 4px solid #535353;
	margin-bottom: 10px;

	&.jspDisabled {
		border-bottom-color: #a2a2a2;
	}
}
.jspArrow.jspArrowDown {
	border-top: 4px solid #535353;
	margin-top: 10px;

	&.jspDisabled {
		border-top-color: #a2a2a2;
	}
}

.jspVerticalBar .jspArrow
{
	height: 8px;
}

.jspHorizontalBar .jspArrow
{
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}