.b-feedback {
	position: fixed;
	z-index: @zindex-navbar-fixed + 1;
	top: 0;
	left: -@gac-feedback-width;
	width: @gac-feedback-width;
	background: @gac-blue;
	color: #fff;
	padding: 10px;
	text-align: center;
	.transition(left 250ms ease-out);

	&.active {
		left: 0;
		max-width: 100%;

		.b-feedback--tumbler {
			&::before {
				content: '@{fa-var-close}';
			}
		}

	}
}

.b-feedback--tumbler {
	display: inline-block;
	position: absolute;
	width: @gac-feedback-tumbler-width;
	height: @gac-feedback-tumbler-height;
	background: @gac-red;
	right: -@gac-feedback-tumbler-width;
	top: @gac-feedback-tumbler-height*2;
	.border-right-radius(@gac-feedback-tumbler-width/2);
	color: #fff;

	&::before {
		display: block;
		position: absolute;
		top: 0;
		right: @gac-feedback-tumbler-width/8;
		bottom: 0;
		left: 0;
		.icon-font();
		content: '@{fa-var-envelope-o}';
		line-height: @gac-feedback-tumbler-height;
		text-align: center;
		font-size: @gac-feedback-tumbler-height*.5;
	}

	&:hover, &:focus, &:active {
		color: #fff;
	}
}

.b-feedback--logo {
	margin-top: 22px;
	margin-bottom: 23px;

	img {
		display: inline-block;
		margin-left: -40px;
	}
}

.b-feedback--form {
	margin: 0;
	padding: 0 20px 35px;
	border-bottom: 1px solid rgba(255,255,255,.2);
}

.b-feedback--title {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-size: 39px;
	line-height: 48px;
	margin-top: 0;
	margin-bottom: 18px;
	padding: 0;
	text-align: left;
}

.b-feedback--subtitle {
	margin-bottom: 25px;
	font-weight: 700;
	text-align: left;
	font-size: 18px;
	line-height: 1.2;
}

.b-feedback--subtitle__center {
	text-align: center;

}

.b-btn__feedback {
	width: 80%;
	margin-top: 40px;
	margin-bottom: 0px;
}