.b-slides-page {
	&, body {
		margin: 0;
		padding: 0;
		overflow: hidden;

		/*Avoid flicker on slides transitions for mobile phones #336 */
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
}

html, body {
	min-height: 100%;
//	height: 100%;
	position: relative;
}

body {
//	height: 100%;
}

input[type="search"] {
	.box-sizing(border-box);
}

// Dropdown arrow/caret
.b-caret {
	display: none;
	width: 0;
	height: 0;
	margin-left: 5px;
	vertical-align: middle;
	border-top: @caret-width-base solid;
	border-right: @caret-width-base solid transparent;
	border-left: @caret-width-base solid transparent;
}

.size-desktop {
	.b-caret {
		display: inline-block;
	}
}

.b-form-group {
	display: block;
	position: relative;
	@media (min-width: @screen-sm-min) {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
	}
}

.b-form-group__max-width {
	display: block;
	width: 100%;
	margin-bottom: 15px;
}

.b-form-control {
	display: block;
	width: 100%;
	height: @input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
	padding: @padding-base-vertical @padding-base-horizontal;
	font-size: @font-size-base;
	line-height: @line-height-base;
	color: @input-color;
	background-color: @input-bg;
	background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
	border: 1px solid @input-border;
	border-radius: @font-size-base*2; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
	//	.box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
	//	.transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s");

	// Customize the `:focus` state to imitate native WebKit styles.
	// .form-control-focus();

	// Placeholder
	.placeholder();

	// Reset height for `textarea`s
	textarea& {
		height: auto;
	}

	&:focus {
		outline: none;
	}

	textarea& {
		height: auto;
		min-height: 100px;
		border-radius: 12px;
	}

}

.b-form-control__larger-padding {
	padding-right: @padding-base-horizontal*1.5;
	padding-left: @padding-base-horizontal*1.5;
}
.b-form-control__narrow {
	min-width: 100px;
	width: auto;
}

.b-form-control__error {
	border-color: @gac-darkred;
	background: lighten(@gac-red,41%);
}

.b-form-control__inline {
	display: inline-block;
	margin-right: 15px;
}

.b-checkbox {
	display: inline-block;
	margin-right: 35px;
	margin-bottom: 15px;

	/* Base for label styling */
	[type="checkbox"]:not(:checked),
	[type="checkbox"]:checked {
		position: absolute;
		left: -9999px;
	}
	[type="checkbox"]:not(:checked) + span,
	[type="checkbox"]:checked + span {
		position: relative;
		padding-left: 35px;
		cursor: pointer;
	}

	/* checkbox aspect */
	[type="checkbox"]:not(:checked) + span:before,
	[type="checkbox"]:checked + span:before {
		content: '';
		position: absolute;
		left:0; top: -2px;
		width: 25px; height: 25px;
		border: 1px solid #aaa;
		background: #fff;
		border-radius: 1px;
	}
	/* checked mark aspect */
	[type="checkbox"]:not(:checked) + span:after,
	[type="checkbox"]:checked + span:after {
		content: '@{fa-var-check}';
		.icon-font;
		position: absolute;
		top: -1px; left: 2px;
		font-size: 22px;
		color: #669900;
		//	transition: all .2s;
	}
	/* checked mark aspect changes */
	[type="checkbox"]:not(:checked) + span:after {
		opacity: 0;
		transform: scale(0);
	}
	[type="checkbox"]:checked + span:after {
		opacity: 1;
		transform: scale(1);
	}
}

.b-checkbox__ok {
	[type="checkbox"]:not(:checked) + span:before,
	[type="checkbox"]:checked + span:before {
		border-color: #690;
	}

	[type="checkbox"]:not(:checked) + span:after,
	[type="checkbox"]:checked + span:after {
		left: 2px;
		color: #669900;
	}
}

.b-checkbox__error {
	[type="checkbox"]:not(:checked) + span:before,
	[type="checkbox"]:checked + span:before {
		border-color: @gac-red;
	}
	[type="checkbox"]:not(:checked) + span:after,
	[type="checkbox"]:checked + span:after {
		content: '@{fa-var-close}';
		color: @gac-red;
		left: 4px;
	}
}

// element with button inside
// place any button or input with type = submit directly after the input
.b-form-control__btn-inside {
	padding-right: @gac-btn-size + @gac-btn-padding;

	& + button, & + input[type="submit"] {
		display: block;
		position: absolute;
		right: @gac-btn-padding;
		top: @gac-btn-padding;

		width: @gac-btn-size;
		height: @gac-btn-size;
		//	line-height: @btn-size;
		font-size: @gac-btn-size * .55;
		font-weight: bold;
		text-align: center;

		border-radius: 50%;
		color: #fff;
		border: none;
		background-color: @gac-red;
		background-image: url(images/sprite.png);
		background-repeat: no-repeat;
		.stitches-sprite(-5px, -5px);

		&:focus, &:active {
			outline: none;
		}
	}
}

.b-btn {
	display: inline-block;
	background: @gac-btn-bg;
	color: @gac-btn-color;

	text-align: center;
	min-width: @gac-btn-width;
	min-height: @gac-btn-height;
	border: 0;
	border-radius: @gac-btn-border-radius;
	font-size: @gac-btn-font-size;
	padding: @gac-btn-padding-vertical @gac-btn-padding-horizontal;
	line-height: @gac-btn-line-height-computed;
	.transition(all @gac-btn-transition-length ease-in-out);

	&:hover, &:active, &:focus {
		background: @gac-btn-hover-bg;
		color: @gac-btn-color;
		text-decoration: none;
	}
}

.b-btn__slim {
	min-height: @gac-btn-slim-height;
	min-width: inherit;
	font-size: @gac-btn-slim-font-size;
	border-radius: @gac-btn-slim-border-radius;
	padding: @gac-btn-slim-padding-vertical @gac-btn-slim-padding-horizontal;
	line-height: @gac-btn-slim-line-height-computed;
}

.b-btn__bold {
	font-weight: 700;
}

.b-btn__hor-space {
	margin-left: 38px;
	margin-right: 38px;
}

.b-btn__centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.b-slides {
	height: 100%;
	position: relative;

	/* Touch detection for Windows 8 */
	-ms-touch-action: none;

	/* IE 11 on Windows Phone 8.1*/
	touch-action: none;
}

.b-slide {
	display: block;
	min-height: 100%;
	padding-top: @navbar-height;
	position: relative;
}

.b-slide__blue-bg {
	background: @gac-blue url(images/pattern.png) 25px 25px;
	color: #fff;
}

.b-slide__white-bg {
	background: #fff url(images/pattern-white.png) 25px 25px;
}

.b-slide--title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 60px;
	line-height: 60px;
	text-align: center;
	margin: 20px auto 50px;
}

.b-slide--description {
	text-align: center;
	font-size: 1.2em;
	line-height: 1.31;
	margin-bottom: @gac-slide-elements-margin;
}
.b-slide--videos {
	margin-right: -@grid-gutter-width/2;
	margin-left: -@grid-gutter-width/2;
}

.b-slide--video {
	display: inline-block;
	width: 100%;
	vertical-align: top;
	padding-right: @grid-gutter-width/2;
	padding-left: @grid-gutter-width/2;
	margin-bottom: @gac-slide-elements-margin;


	@media (min-width: @grid-float-breakpoint) {
		width: percentage(1/3);
	}
}

.b-slide--video-title {
	margin-top: 18px;
	font-size: 18px;
	font-weight: 700;
}

.b-buttons-container {
	text-align: center;
	margin-bottom: @gac-slide-elements-margin;
}