.b-course-info {
	.make-row();
}

.b-course-info--module__description {
	.make-sm-column(7);
}

.b-course-info--module__authors {
	.make-sm-column(4);
	.make-sm-column-offset(1);
}

.b-bio {
	margin-bottom: 33px;
	overflow: hidden;
}

.b-bio--icon {
	display: inline-block;
	margin-right: 20px;
	border-radius: 50%;
	float: left;
}

.b-bio--info {
	display: block;
}

.b-bio--name {
	font-weight: 700;
	margin-top: 30px;
	margin-bottom: 15px;
}
.b-bio--description {
	font-style: italic;
//	font-size: 14px;
	line-height: 1;
}

.b-topic-counter {
	float: right;
	min-width: 70px;
}

.b-topic-counter--number {
	display: inline-block;
	background: @gac-red;
	color: #fff;
	border-radius: 50%;
	width: @gac-topic-counter-size;
	height: @gac-topic-counter-size;
	line-height: @gac-topic-counter-size;
	text-align: center;
	font-weight: 700;
}


.b-subtitle__course {
	margin-bottom: 30px;
	position: relative;
	padding-left: 28px;

	a {
		text-decoration: none;
		padding-bottom: 2px;
		border-bottom: 1px dotted @link-color;

		&:hover {
			text-decoration: none;
		}
	}

	&::before {
		content: @fa-var-chevron-right;
		position: absolute;
		left: 0;
		top: 0;
		.icon-font();
		line-height: 22px;
		color: @link-color;
		font-size: 22px;
	}
}

.b-course__open {
	.b-subtitle__course {
		&::before {
			content: @fa-var-chevron-down;
		}
	}

	.b-course--table {
		display: table;
	}
}


// Baseline styles

.b-course--table {
	display: none;
	width: 100%;
	max-width: 100%;
	margin-bottom: @line-height-computed;
	// Cells
	> thead,
	> tbody,
	> tfoot {
		> tr {
			> th,
			> td {
				padding: @table-cell-padding;
				line-height: @line-height-base;
				vertical-align: top;
				border-bottom: 1px solid @table-border-color;
				font-size: 16px;
				font-weight: bold;

			}

			> th {
				text-align: left;
				color: @gac-table-font-color;
				font-size: 13px;
				text-transform: uppercase;
				padding-left: 0;

				small {
					display: block;
				}
			}
		}
	}
	// Bottom align for column headings
	> thead > tr > th {
		vertical-align: bottom;
		border-bottom: 1px solid @table-border-color;
	}
	// Remove top border from thead by default
	> caption + thead,
	> colgroup + thead,
	> thead:first-child {
		> tr:first-child {
			> th,
			> td {
				border-top: 0;
			}
		}
	}
	// Account for multiple tbody instances
	> tbody + tbody {
		border-top: 2px solid @table-border-color;
	}

	a {
		color: @gac-red;
		text-decoration: underline;
		font-weight: 400;

		&:hover {
			color: @gac-darkred;
		}
	}
}

.b-course--col__name {
	width: 40%;
}

.b-course--summary-mark {
	color: @gac-table-font-color;

	display: inline-block;
	.icon-font();
	font-size: 25px;
	text-rendering: auto; // optimizelegibility throws things off #1094
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0); // ensures no half-pixel rendering in firefox

	&:before { content: @fa-var-check; }

}

.b-course--finished-tasks__mark {
	color: @gac-red;
}