.b-topic {
	.make-row();
}

.b-topic--meta {
	.make-sm-column(5);
	font-size: 18px;
}

.b-topic--tabs {
	.make-sm-column(7);
}

.b-topic--bookmark {
	color: @gac-red;
	font-weight: 700;
	font-size: 16px;
	margin-top: 0;
	margin-bottom: 55px;

	a {
		margin-left: 12px;
	}

	&::before {
		content: '@{fa-var-bookmark}';
		.icon-font();
		//		font: normal normal normal @fa-font-size-base/1 FontAwesome; // shortening font declaration
	}
}

.b-topic--description {
	margin-bottom: 50px;
}

.b-topic-nav {
	&:extend(.clearfix all);
	border: 1px solid @gac-darkgrey;
	border-left: 0;
	border-right: 0;
	padding-top: 22px;
	padding-bottom: 22px;
}

.b-topic-nav--item {
	.make-xs-column(6);
	color: @gac-red;
	font-size: 14px;
	font-weight: 700;

	&::before, &::after {
		//		font: normal normal normal @fa-font-size-base/1 FontAwesome; // shortening font declaration
		.icon-font();
	}
}

.b-topic-nav--item__prev {
	text-align: left;
	&::before {
		content: '@{fa-var-long-arrow-left}';
	}
}

.b-topic-nav--item__next {
	text-align: right;
	&::after {
		content: '@{fa-var-long-arrow-right}';
	}
}

.b-topic-nav--link {
	color: @gac-red;

	&:hover {
		color: @gac-darkred;
	}
}

.b-tabs {
	padding-left: 0;
	list-style: none;
	margin-top: 0;
	margin-bottom: 35px;
}

.b-tabs--item {
	display: inline-block;
	width: percentage(1/3);
	padding-right: 20px;

	&:last-child {
		padding-right: 0;
	}

}

.b-tabs--link {
	background: @gac-red;
	text-align: center;

	display: inline-block;
	width: 100%;
	color: #fff;
	border-radius: @gac-tab-height/2;
	height: @gac-tab-height;
	line-height: @gac-tab-height;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;

	&:hover, &:active, &:focus {
		text-decoration: none;
		color: #fff;
	}

	&::before {
		content: '';
		display: inline-block;
		width: 34px;
		height: 34px;
		background: url(images/tabs-sprite.png) no-repeat 0 0;
		vertical-align: middle;
		margin-top: -4px;
		margin-right: 16px;
	}
}

.b-tabs--link__video {
	&::before {
		background-position: 0 0;
	}
}

.b-tabs--link__text {
	&::before {
		background-position: -34px 0;
	}
}

.b-tabs--link__tasks {
	&::before {
		background-position: -68px 0;
	}
}

.b-tabs--item.active {
	.b-tabs--link {
		background: #fff;
		color: @gac-red;
		border: 1px solid @gac-red;
	}

	.b-tabs--link__video {
		&::before {
			background-position: 0 -34px;
		}
	}

	.b-tabs--link__text {
		&::before {
			background-position: -34px -34px;
		}
	}

	.b-tabs--link__tasks {
		&::before {
			background-position: -68px -34px;
		}
	}
}

.b-tabs--item.disabled {
	.b-tabs--link {
		background: #fff;
		color: @gac-darkgrey;
		border: 1px solid @gac-darkgrey;
		cursor: not-allowed;
	}

	.b-tabs--link__video {
		&::before {
			background-position: 0 -68px;
		}
	}

	.b-tabs--link__text {
		&::before {
			background-position: -34px -68px;
		}
	}

	.b-tabs--link__tasks {
		&::before {
			background-position: -68px -68px;
		}
	}
}

.b-tab-pane {
	display: none;

	&.active {
		display: block;
	}
}

.b-video {
	margin-bottom: 50px
}

.b-video--transcript-toggle {
	color: @gac-red;
	text-align: right;
	margin-top: 40px;
	margin-bottom: 15px;
}

.b-video--transcript-wrapper {
	display: inline-block;
	font-weight: 700;

	&::before {
		.icon-font();
		display: inline-block;
		margin-right: 10px;
	}
}

.b-video--transcript-wrapper__on::before {
	content: '@{fa-var-volume-down}';
}

.b-video--transcript-wrapper__off {
	display: none;
	&::before {
		content: '@{fa-var-close}';
	}
}

.b-video--transcript-link {
	color: @gac-red;
	border-bottom: 1px dotted @gac-red;
	text-decoration: none;

	&:hover, &:active, &:focus {
		text-decoration: none;
		color: @gac-darkred;
		border-bottom: 1px solid @gac-darkred;
	}
}

.b-video--transcript-toggle__on {
	.b-video--transcript-wrapper__on {
		display: none;
	}
	.b-video--transcript-wrapper__off {
		display: inline-block;
	}
}

.b-transcript {
	display: none;
	height: @gac-transcript-height;;
	&:focus {
		outline: none;
	}

	&.active {
		display: block;
	}
}

.b-transcript--part {
	overflow: hidden;
	margin-bottom: 25px;

	&:last-child {
		margin-bottom: 0;
	}
}

.b-transcript--timecode {
	float: left;
	width: 15%;
	font-size: 16px;
	font-weight: 700;
}
.b-transcript--text {
	float: left;
	width: 85%;
}

.b-transcript--current {
	background: @gac-red;
	color: #fff;
	display: inline-block;
	margin-left: -@gac-transcript-current-padding;
	margin-right: -@gac-transcript-current-padding;
	padding-left: @gac-transcript-current-padding;
	padding-right: @gac-transcript-current-padding;

}
.b-video-carousel {
	position: relative;
	padding: 0 25px;
}

.b-video-carousel--container {
	overflow: hidden;

	li {
//		width: 140px;
//		margin: 0 10px;
	}
}

.b-video-carousel--item {
	margin-right: 5px;
	margin-left: 5px;
}

.b-video-carousel--image {
	display: inline-block;
	margin-bottom: 15px;
	width: 100%;
	height: auto;
	position: relative;
}


.b-video-carousel--link {
	display: block;
	font-weight: 700;
}

.b-video-carousel--link__image {
	position: relative;

	&::before {
		position: absolute;
		display: inline-block;
		height: 34px;
		top: 50px;
		margin-top: -17px;
		left: 0;
		width: 100%;
		content: '';

		background: url(images/video-play.png) no-repeat center;
		z-index: 2;
	}
}

.b-video-carousel--item__current {
	.b-video-carousel--link__image {
		.opacity(.53);
	}

	.b-video-carousel--link {
		color: @gac-darkgrey;
		cursor: default;

		&:hover {
			text-decoration: none;
		}
	}
}

.b-video-carousel--control {
	position: absolute;
	height: 25px;
	display: inline-block;
//	background: @gac-red;
	top: 50px - 12.5px;
//	font-size: 48px;
	line-height: 25px;
	.icon-font();


	&::before {
		font-size: 25px;
	}

	&:hover, &:active, &:focus {
		text-decoration: none;
	}

	&.disabled {
		cursor: default;
		color: @gac-darkgrey;
	}
}

.b-video-carousel--control__prev {
	left: 0;
	&::before {
		content: '@{fa-var-chevron-left}';
	}
}
.b-video-carousel--control__next {
	right: 0;
	&::before {
		content: '@{fa-var-chevron-right}';
	}
}

// synopsis

.b-synopsis {
	margin-bottom: 45px;
}

.b-synopsis__has-image {
	overflow: hidden;

	.b-synopsis--content, .b-subtitle {
		margin-left: 180px;
	}
}

.b-synopsis--image {
	float: left;
	width: 160px;
	text-align: center;

	img {
		.img-responsive();
		margin-bottom: 15px;
	}
}

.b-synopsis--image-title {
	font-style: italic;
	color: #666;
	line-height: 1;
}

.b-synopsis--content {
	font-size: 16px;
}


// tasks
.b-task {
	border: 1px solid @gac-darkgrey;
	border-radius: 7px;
	font-size: 16px;
	margin-bottom: 25px;

}

.b-task--header {
	border-bottom: 1px solid @gac-darkgrey;
	background: #efefef;
	padding: 20px;
	line-height: 22px;
	overflow: hidden;
}

.b-task--num {
	font-weight: 700;
	font-size: 22px;
	display: inline-block;
	vertical-align: top;
	margin-right: 25px;
}

.b-task--status {
	font-style: italic;
	display: inline-block;
	vertical-align: top;
}

.b-task--status__solved {
	color: #669900;

	&::before {
		display: inline-block;
		.icon-font();
		content: '@{fa-var-check}';
		margin-right: 7px;
	}
}

.b-task--status__error {
	color: @gac-red;
}


.b-task--complexity {
	float: right;
	display: inline-block;
	font-style: italic;
	height: 22px;
	padding-right: 35px;
	position: relative;

	&::after {
		content: '';
		background: url(images/complexity-sprite.png) no-repeat right 0;
		position: absolute;
		right: 0;
		bottom: 5px;
		width: 28px;
		height: 22px;
	}
}

.b-task--complexity__1 {
	&::after {
		background-position: right 0;
	}
}

.b-task--complexity__2 {
	&::after {
		background-position: right -22px;
	}
}
.b-task--complexity__3 {
	&::after {
		background-position: right -44px;
	}
}
.b-task--complexity__4 {
	&::after {
		background-position: right -66px;
	}
}
.b-task--complexity__5 {
	&::after {
		background-position: right -88px;
	}
}

.b-task--body {
	padding: 20px;
}

.b-task--text {
	margin-bottom: 35px;

	img {
		display: block;
		max-width: 100%;
		height: auto;
	}
}

.b-task--check {
	color: @gac-red;
	text-decoration: underline;
}