.b-reg-form {
	display: block;
	max-width: 770px;
	margin-left: auto;
	margin-right: auto;
	background: #fff;
	border-radius: 9px;
	padding: 40px 70px;

}

.b-form-group__reg {
	display: block;
	margin-bottom: 15px;
}

.b-control-label__reg, .b-form-control__reg,
.b-control-label__captcha, .b-form-control__captcha {
	display: inline-block;
	vertical-align: top;
}
.b-control-label__captcha, .b-control-label__reg {
	font-weight: 700;
	font-size: 16px;
}
.b-control-label__reg {
	width: 25%;
}
.b-form-control__reg {
	width: 74%;
}

.b-control-label__captcha {
	margin-right: 30px;
}


// Reset spacing and right align labels, but scope to media queries so that
// labels on narrow viewports stack the same as a default form example.
@media (min-width: @screen-sm-min) {
	.b-control-label__reg, .b-control-label__captcha {
		margin-bottom: 0;
		padding-top: (@padding-base-vertical + 1); // Default padding plus a border
	}
}


.b-reg-form--section-title {
	color: @gac-darkgrey;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	margin-top: 43px;
	margin-bottom: 50px;
}

.b-form-group__captcha {
	margin-top: 64px;
	margin-bottom: 75px;
}

.b-captcha {
	margin-bottom: 15px;
}

.b-captcha--image {
	display: inline-block;
	margin-right: 20px;
}

.b-captcha--refresh {
	color: @gac-blue;
}

.b-social-login {
	border-bottom: 1px solid @gac-darkgrey;
	margin-bottom: 45px + @gac-reg-or-size/2;
}

.b-social-login--icons {
	padding-left: 0;
	list-style: none;
	text-align: center;
	margin-bottom: 20px;
}

.b-social-login--item {
	display: inline-block;
	margin: 0 10px 15px;
}

.b-social-login--or {
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: -@gac-reg-or-size/2;

	height: @gac-reg-or-size;
	width: @gac-reg-or-size;
	border: 2px solid @gac-darkgrey;
	background: #fff;
	border-radius: 50%;
	color: @gac-darkgrey;
	line-height: @gac-reg-or-size - 8px;
	font-weight: 700;
	text-align: center;
}