// general styles for all inner pages
.b-header {
	background: @gac-blue url(images/pattern.png);
	color: #fff;
	padding: 30px 0;
	margin-top: @gac-navbar-height;

	a {
		color: #fff;
		text-decoration: none;
	}
}

.b-breadcrumbs {
	font-weight: 700;
	font-size: 16px;
}

.b-breadcrumbs--divider {
	display: inline-block;
	margin-right: 15px;
	margin-left: 15px;

	.icon-font();
	font-size: inherit; // can't have font-size inherit on line above, so need to override
	text-rendering: auto; // optimizelegibility throws things off #1094
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0); // ensures no half-pixel rendering in firefox

	&::before {
		content: '@{fa-var-chevron-right}';
	}

}

.b-content {
	padding-top: 50px;
	padding-bottom: 65px;
}

.b-content__registration {
	background: @gac-reg-bg;
}

.b-page-title {
	font-size: 60px;
	font-family: "Open Sans", "Trebuchet MS", Helvetica, Verdana, sans-serif;
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 50px;
}

.b-page-title__sm {
	font-size: 50px;
	line-height: 1.05;

}
.b-page-title__centered {
	text-align: center;
}

.b-page-title__in-header {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 60px;
}

.b-page-title__with-icon {
	overflow: hidden;
}

.b-page-title--icon {
	display: block;
	float: left;
	margin-right: 32px;

}

.b-subtitle {
	margin-top: 0;
	margin-bottom: 12px;
	font-weight: 700;
	font-size: 22px;
	line-height: 1.2;
}

.b-subtitle__sm {
	font-size: 20px;
}

.b-subtitle__centered {
	text-align: center;
}

.b-footer {
	background: @gac-blue;
	padding: 25px 0;

	&,a {
		color: #fff;
	}

	a {
		text-decoration: underline;
	}
}

.b-footer__pos-absolute {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.b-footer--module {
	padding-bottom: 25px;
}

.b-footer--module__social {
	text-align: right;
}

.b-footer--title {
	margin-top: 0;
	margin-bottom: 25px;
	font-weight: 700;
	font-size: 20px;
}
.b-footer--meta {
	border-bottom: 1px solid rgba(255,255,255,.2);
	border-bottom: 1px solid #4b7499;
}

.b-social-list {
	padding-left: 0;
	margin: 0;
	margin-top: -3px;
	list-style: none;
}

.b-social-list__position-feedback {
	margin-bottom: 25px;
}

.b-social-list--item {
	display: inline-block;
	vertical-align: top;
	margin-right: 22px;
}

.b-social-list--item__last {
	margin-right: 0;
}

.b-social-list--link {
	display: inline-block;
	border: 2px solid #fff;
	width: 35px;
	height: 35px;
	line-height: 31px;
	font-size: 17px;
	text-align: center;

	border-radius: 50%;
	color: #fff;

	&:hover {
		color: #fff;
	}

	.fa-facebook {
		margin-left: -2px;
		margin-top: 8px;
	}

	.fa-google-plus {
		margin-right: -3px;
		margin-top: 8px;
	}
}

.b-footer--copyright {
	padding: 22px 0 0;
}

.b-copyright--item {
	display: inline-block;
	margin-right: 45px;
	vertical-align: top;

	&:last-child {
		margin-right: 0;
	}
}


.b-social-share {
	margin-bottom: 33px;
}

.b-social-share__small_margin {
	margin-bottom: 25px;
}

.b-social-share--title {
	font-size: 14px;
	font-style: italic;
}