.b-navbar {
	display: block;
	position: fixed;
	top: 0;
	width: 100%;
	min-height: @navbar-height;

	font-size: @gac-navbar-font-size;

	.transition(all @gac-navbar-transition-length ease-in-out);
	color: @gac-navbar-hover-text-color;
	background: @gac-navbar-hover-bg;

	.box-shadow(0px 0px 15px -3px rgba(0,0,0,.75));
}

//
// Navbar alignment options
//
// Display the navbar across the entirety of the page or fixed it to the top or
// bottom of the page.

// Fix the top/bottom navbars when screen real estate supports it
.b-navbar__position-fixed-top,
.b-navbar__position-fixed-bottom {
	position: fixed;
	right: 0;
	left: 0;
	z-index: @zindex-navbar-fixed;

	// Undo the rounded corners
	@media (min-width: @grid-float-breakpoint) {
		border-radius: 0;
	}
}

.b-navbar__position-fixed-top {
	top: 0;
	border-width: 0 0 1px;
}

.b-navbar__position-fixed-bottom {
	bottom: 0;
	margin-bottom: 0; // override .navbar defaults
	border-width: 1px 0 0;
}

.b-logo {
	float: left;
	padding-right: @navbar-padding-horizontal;
	padding-left: @navbar-padding-horizontal;
	.navbar-vertical-align(@gac-logo-height);
	font-size: @font-size-large;
	line-height: @line-height-computed;
	margin-right: 100px - @navbar-padding-horizontal - 15px;


	&:hover,
	&:focus {
		text-decoration: none;
	}

	@media (min-width: @grid-float-breakpoint) {
		.b-navbar > .container & {
			margin-left: -@navbar-padding-horizontal;
		}
	}
}

.b-logo--image {
	display: block;
}

.b-logo--image__status-active {
	display: block;
}

.b-logo--image__status-inactive {
	display: none;
}

// Navbar nav links
//
// Builds on top of the `.nav` components with its own modifier class to make
// the nav the full height of the horizontal nav (above 768px).

.b-navbar--nav {
	padding-left: 0; // Override default ul/ol
	list-style: none;
	&:extend(.clearfix all);

	// Prevent IE8 from misplacing imgs
	//
	// See https://github.com/h5bp/html5-boilerplate/issues/984#issuecomment-3985989
	> li > a > img {
		max-width: none;
	}

	float: left;
	margin: 0;
}

.b-navbar--item {
	position: relative;
	display: block;
	margin-right: @gac-navbar-item-margin;
	float: left;
}

.b-navbar--nav {
	.b-navbar--item:last-child {
		margin-right: 0;
	}
}

// Navbar form
//

.b-navbar--item__form {
	padding: @nav-link-vertical-padding @nav-link-horizonatal-padding+10px;

	// Vertically center in expanded, horizontal navbar
	.navbar-vertical-align(@input-height-base);

	// Undo 100% width for pull classes
	@media (min-width: @grid-float-breakpoint) {
		float: left;
		width: auto;
		border: 0;
		margin-left: 0;
		margin-right: 0;
		padding-top: 0;
		padding-bottom: 0;
	}

	input[type="search"] {
		min-width: 270px;
	}
}

.b-navbar--link {
	position: relative;
	display: block;
	padding: @nav-link-padding;
	line-height: @line-height-computed;

	color: @gac-navbar-hover-text-color;

	.transition(color @gac-navbar-transition-length ease-in-out);

	&:hover,
	&:focus {
		color: @gac-red;
		text-decoration: underline;
	}

	padding-top: @navbar-padding-vertical;
	padding-bottom: @navbar-padding-vertical;
}

.b-navbar--link__underlined {
	text-decoration: underline;
}

.b-navbar--link__has-icon {
	position: relative;
	padding-left: @gac-navbar-icon-size + @gac-navbar-icon-padding*2;

	&::before {
		position: absolute;
		content: '';
		top: @navbar-padding-vertical+3px;
		left: @gac-navbar-icon-padding;
		width: @gac-navbar-icon-size;
		height: @gac-navbar-icon-size;
		background-image: url(images/sprite.png);
		background-repeat: no-repeat;

	}
}

.b-navbar--link__signin {
	&::before {
		.stitches-sprite(-5px, -37px);
	}
}

.b-navbar--link__signup {
	&::before {
		.stitches-sprite(-5px, -93px);
	}
}

.b-navbar--link__alt-font {
	font-family: "Open Sans", sans-serif;
}

// Alternate style for untoggled
// Show everything that was hidden!

.b-navbar__status-inactive {
	color: @gac-navbar-text-color;
	background: fade(@gac-navbar-hover-bg, 0);
	border-bottom: none;
	.box-shadow(none);

	.b-logo--image__status-active {
		display: none;
	}

	.b-logo--image__status-inactive {
		display: block;
	}

	.b-navbar--link {
		color: @gac-navbar-text-color;
	}

	.b-navbar--item__togglable {
		display: none;
	}

	.b-navbar--link__signin {
		&::before {
			.stitches-sprite(-5px, -65px);
		}
	}

	.b-navbar--link__signup {
		&::before {
			.stitches-sprite(-5px, -121px);
		}
	}

}

.size-phone, .size-tablet {
	.b-navbar--item__togglable {
		display: none;
	}
}

// Component alignment
//
// Repurpose the pull utilities as their own navbar utilities to avoid specificity
// issues with parents and chaining. Only do this when the navbar is uncollapsed
// though so that navbar contents properly stack and align in mobile.
//
// Declared after the navbar components to ensure more specificity on the margins.

//@media (min-width: @grid-float-breakpoint) {
.b-navbar--nav__left {
	.pull-left();
}

.b-navbar--nav__right {
	.pull-right();
	margin-right: -@navbar-padding-horizontal;

	~ .b-navbar--nav__right {
		margin-right: 0;
	}
}

//}

.b-dropdown {
	display: none;

	position: absolute;
	top: @navbar-height;
	left: 0;
	z-index: @zindex-navbar-fixed;

	background: @gac-navbar-hover-bg;
	min-width: 235px;

	padding-left: 0; // Override default ul/ol
	margin: 0;
	list-style: none;
	&:extend(.clearfix all);
}

.b-dropdown__visible {
	display: block;
}

.b-dropdown--submenu, .b-dropdown--submenu-container {
	display: none;

	position: absolute;
	top: 0;

	list-style: none;
	min-height: 100%;
	min-width: 300px;
	padding: 20px;
	padding-right: 0;

}

.b-dropdown--item__depth-1 {
	border-bottom: 1px solid @gac-dropdown-border;

	&:last-of-type {
		border-bottom: none;
	}

}

.b-dropdown--link__depth-1 {
	position: relative;
	display: block;
	padding: @navbar-padding-vertical @navbar-padding-horizontal;
	padding-left: 40px;
	line-height: @line-height-computed;

	color: @gac-navbar-hover-text-color;

	&::before {
		position: absolute;
		content: '';
		top: @navbar-padding-vertical + 6px;
		left: 17px;
		width: 9px;
		height: 9px;
		line-height: 9px;
		background: @gac-dropdown-marker-main;
		.transition(background 100ms ease-in-out);
	}

	&:hover,
	&:focus,
	&:active,
	&.active{
		text-decoration: none;
		background: @gac-dropdown-active-bg;
	}
}

.b-dropdown--link__physics {
	&::before {
		background: @gac-dropdown-marker-physics;
	}
}

.b-dropdown--item__depth-2 {
	font-weight: bold;
	font-size: @font-size-base;

	&, a {
		color: #fff;
	}

	a {
		display: inline-block;
		padding: 2px 10px;
		width: 100%;
		margin-left: -10px;
	}

	a:hover {
		background: rgba(255,255,255,.25);
		text-decoration: none;
	}
}

.b-dropdown--item__header {

	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 5px;

	&, a {
		color: #e5a19b;
	}

	a {
		text-decoration: none;
	}
}

.b-submenu--column {
	> .b-dropdown--item__header:first-child {
		margin-top: 0;
	}
}

.b-submenu--column {
	list-style: none;
	padding-left: 0;
	padding-right: 30px;
	float: left;

	&:last-of-type {
		padding-right: 0;
	}
}

.b-submenu--column__cols-1 {
	float: none;
}

.b-submenu--column__cols-2 {
	width: percentage(1/2);
}

.b-submenu--column__cols-3 {
	width: percentage(1/3);
}

.b-submenu--column__cols-4 {
	width: percentage(1/4);
}

.b-submenu--column__cols-5 {
	width: percentage(1/5);
}

.b-dropdown-bg {
	display: none;
	background: #fff;
	position: absolute;
	left: 0;
	right: 0;
	height: 0;
	padding-left: 2px;
	z-index: @zindex-navbar-fixed - 1;
	.transition(height 150ms ease-out);
}

.b-dropdown-bg--insides {
	position: relative;
	background: @gac-red;
	height: 100%;
}