.b-feature {
	position: relative;
	display: inline-block;
	width: 50%;
	min-height: @gac-feature-icon-size;
	vertical-align: top;
	padding-left: @gac-feature-icon-size + @gac-feature-icon-padding + @grid-gutter-width/2;
	padding-right: @grid-gutter-width/2;
	margin-bottom: 30px;
}

.b-feature--icon {
	position: absolute;
	width: @gac-feature-icon-size;
	height: @gac-feature-icon-size;
	left: @grid-gutter-width/2;
	top: 0;
	background: url(images/icons-sprite.png) no-repeat -5px -5px;
}

.b-feature--icon__1 {
	.stitches-sprite(-5px, -5px);
}

.b-feature--icon__2 {
	.stitches-sprite(-100px, -5px);
}

.b-feature--icon__3 {
	.stitches-sprite(-5px, -100px);
}

.b-feature--icon__4 {
	.stitches-sprite(-100px, -100px);
}

.b-feature--icon__5 {
	.stitches-sprite(-195px, -5px);
}

.b-feature--icon__6 {
	.stitches-sprite(-195px, -100px);
}

.b-feature--title {
	font-size: 16px;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 5px;
}