.b-slide__intro {
	background: @gac-blue url("images/slides/1-intro.jpg") no-repeat center;
	background-size: cover;
}

.b-intro-quote {
	color: #fff;
	font-family: 'Oranienbaum', serif;
	font-size: 22px;
	margin: 30px;
	text-align: center;
}
.b-intro-quote--text {
	font-size: 64px;
	line-height: 65px;
	margin-bottom: 30px;
}

.b-intro-quote--author {
	display: inline-block;
	position: relative;
	padding: 0 @gac-intro-quote-decoration-width + @gac-intro-quote-decoration-padding;
	margin-bottom: 30px;
	white-space: ;
}

.b-intro-quote--decoration {
	position: absolute;
	width: @gac-intro-quote-decoration-width;
	top: 0;
	bottom: 0;
	background-repeat: no-repeat;
	background-position: center;
}
.b-intro-quote--decoration__left {
	background-image: url(images/quote-left.png);
	left: 0;
}
.b-intro-quote--decoration__right {
	background-image: url(images/quote-right.png);
	right: 0;
}

.b-intro--next-slide {
	display: none;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -@gac-intro-next-slide-width / 2;
	width: @gac-intro-next-slide-width;
	height: @gac-intro-next-slide-width / 2;
	.border-top-radius(@gac-intro-next-slide-width / 2);

	text-align: center;
	color: @gac-intro-next-slide-color;
	background: @gac-intro-next-slide-bg;
	.transition(all @gac-navbar-transition-length ease-out);

	&:hover {
		color: @gac-intro-next-slide-hover-color;
		background: @gac-intro-next-slide-hover-bg;
	}

	@media (min-width: @grid-float-breakpoint) {
		display: block;
	}
}

.b-intro--next-slide-icon {
	font-size: @gac-intro-next-slide-width / 3;
	line-height: @gac-intro-next-slide-width / 1.8;
}