@gac-blue: #1e5180;
@gac-red: #e7413d;
@gac-darkred: #cf5044;
@gac-lightgrey: #f3f3f3;
@gac-darkgrey: #ccc;

@gac-navbar-height: 60px;
@gac-logo-height: 33px;

@gac-navbar-transition-length: 100ms;

@gac-navbar-icon-size: 18px;
@gac-navbar-icon-padding: 8px;
@gac-navbar-item-margin: 25px;

@gac-navbar-font-size: 16px;
@gac-navbar-text-color: #fff;
@gac-navbar-hover-text-color: #333;
@gac-navbar-hover-bg: #fff;


@gac-dropdown-marker-main: @gac-darkgrey;
@gac-dropdown-marker-physics: @gac-darkred;
@gac-dropdown-border: #d6d6d6;


@gac-dropdown-active-bg: @gac-lightgrey;


@gac-topmenu-subsections-bg: @gac-darkred;

// button's inside input size
@gac-btn-size: 22px;
@gac-btn-padding: (@input-height-base - @gac-btn-size)/2;

// general button
@gac-btn-width: 225px;
@gac-btn-height: 66px;
@gac-btn-border-radius: @gac-btn-height/2;

@gac-btn-font-size: 24px;
@gac-btn-color: #fff;
@gac-btn-bg: @gac-red;
@gac-btn-hover-bg: @gac-darkred;
@gac-btn-transition-length: 100ms;

@gac-btn-padding-horizontal: @gac-btn-border-radius + 5px;
@gac-btn-padding-vertical: 25px;
@gac-btn-line-height-computed: @gac-btn-height - @gac-btn-padding-vertical*2;


@gac-btn-slim-height: 34px;
@gac-btn-slim-border-radius: @gac-btn-slim-height/2;
@gac-btn-slim-font-size: 18px;
@gac-btn-slim-padding-horizontal: @gac-btn-slim-border-radius + 5px;
@gac-btn-slim-padding-vertical: 0px;
@gac-btn-slim-line-height-computed: @gac-btn-slim-height - @gac-btn-slim-padding-vertical*2;

// general slides data
@gac-slide-elements-margin: 45px;


//// slide 1
@gac-intro-quote-decoration-width: 235px;
@gac-intro-quote-decoration-padding: 35px;
@gac-intro-next-slide-width: 200px;
@gac-intro-next-slide-color: fade(#fff,60%);
@gac-intro-next-slide-bg: fade(#fff,30%);
@gac-intro-next-slide-hover-color: #fff;
@gac-intro-next-slide-hover-bg: fade(#fff,45%);


//// slide 4
@gac-feature-icon-size: 85px;
@gac-feature-icon-padding: 35px;

///registration
@gac-reg-bg: #efefef;
@gac-reg-or-size: 44px;

// internal pages

@gac-topic-counter-size: 32px;
@gac-table-font-color: #999;

@gac-tab-height: 60px;

@gac-transcript-height: 300px;
@gac-transcript-current-padding: 3px;


// feedback
@gac-feedback-width: 320px;
@gac-feedback-tumbler-width: 65px;
@gac-feedback-tumbler-height: 60px;
